.root {
  flex-direction: row;
  background: var(--token-PS_unVUtFLPPh9);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: 0px 112px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 97px);
  width: calc(100% + 97px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 97px;
}
@media (max-width: 1440px) {
  .root {
    background: var(--token-PS_unVUtFLPPh9);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-width: 0;
    padding: 0px 75px;
  }
}
@media (max-width: 1440px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 97px);
    width: calc(100% + 97px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1440px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 97px;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .root {
    background: var(--token-PS_unVUtFLPPh9);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 97px);
    width: calc(100% + 97px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1024px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 97px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: var(--token-PS_unVUtFLPPh9);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 97px);
    width: calc(100% + 97px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 97px;
    margin-top: 0px;
  }
}
.freeBox__yxhL {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 1216px;
  min-width: 0;
  padding: 104px 0px;
}
.freeBox__yxhL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yxhL > :global(.__wab_flex-container) > *,
.freeBox__yxhL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yxhL > :global(.__wab_flex-container) > picture > img,
.freeBox__yxhL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox__yxhL {
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 1216px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 100px 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox__yxhL > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 1440px) {
  .freeBox__yxhL > :global(.__wab_flex-container) > *,
  .freeBox__yxhL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yxhL > :global(.__wab_flex-container) > picture > img,
  .freeBox__yxhL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (max-width: 1024px) {
  .freeBox__yxhL {
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 1216px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 80px;
  }
}
@media (max-width: 1024px) {
  .freeBox__yxhL > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 1024px) {
  .freeBox__yxhL > :global(.__wab_flex-container) > *,
  .freeBox__yxhL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yxhL > :global(.__wab_flex-container) > picture > img,
  .freeBox__yxhL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yxhL {
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 1216px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yxhL > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yxhL > :global(.__wab_flex-container) > *,
  .freeBox__yxhL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yxhL > :global(.__wab_flex-container) > picture > img,
  .freeBox__yxhL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.freeBox__wmyNt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.freeBox__wmyNt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wmyNt > :global(.__wab_flex-container) > *,
.freeBox__wmyNt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wmyNt > :global(.__wab_flex-container) > picture > img,
.freeBox__wmyNt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox__wmyNt {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    align-self: stretch;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox__wmyNt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 1440px) {
  .freeBox__wmyNt > :global(.__wab_flex-container) > *,
  .freeBox__wmyNt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wmyNt > :global(.__wab_flex-container) > picture > img,
  .freeBox__wmyNt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wmyNt {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    align-self: stretch;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wmyNt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wmyNt > :global(.__wab_flex-container) > *,
  .freeBox__wmyNt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wmyNt > :global(.__wab_flex-container) > picture > img,
  .freeBox__wmyNt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.sectionHeading8 {
  flex-direction: column;
  height: auto;
  display: flex;
  overflow: hidden;
}
.sectionHeading8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.sectionHeading8 > :global(.__wab_flex-container) > *,
.sectionHeading8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading8 > :global(.__wab_flex-container) > picture > img,
.sectionHeading8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1440px) {
  .sectionHeading8 {
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}
@media (max-width: 1440px) {
  .sectionHeading8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (max-width: 1440px) {
  .sectionHeading8 > :global(.__wab_flex-container) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > picture > img,
  .sectionHeading8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionHeading8 {
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionHeading8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionHeading8 > :global(.__wab_flex-container) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > picture > img,
  .sectionHeading8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.sectionTitle8 {
  display: block;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 124%;
  color: var(--token-bG-1q3mVx5bija);
  align-self: center;
  position: relative;
  text-align: center;
  max-width: 1100px;
  width: 100%;
}
@media (max-width: 1024px) {
  .sectionTitle8 {
    display: block;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 124%;
    color: var(--token-bG-1q3mVx5bija);
    align-self: center;
    position: relative;
    text-align: center;
    max-width: 800px;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionTitle8 {
    font-size: 32px;
    line-height: 42px;
    text-align: left;
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: var(--token-bG-1q3mVx5bija);
    align-self: center;
    position: relative;
    max-width: 800px;
    width: 100%;
  }
}
.freeBox__vonuj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__vonuj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__vonuj > :global(.__wab_flex-container) > *,
.freeBox__vonuj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vonuj > :global(.__wab_flex-container) > picture > img,
.freeBox__vonuj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vonuj {
    position: relative;
    align-self: flex-start;
    padding: 0px;
  }
}
.description40 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description40 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description20 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description20 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description21 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description21 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description22 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description22 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description23 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description23 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description24 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description24 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description25 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description25 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description26 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description26 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description27 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description27 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description28 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description28 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description29 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description29 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description30 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description30 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description31 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description31 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.ul__qPgwr {
  display: flex;
  flex-direction: column;
}
.li___8VMz {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___8VMz {
    font-size: 14px;
  }
}
.ul__naxTn {
  display: flex;
  flex-direction: column;
}
.li__ls8I4 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__ls8I4 {
    font-size: 14px;
  }
}
.ul__pI3Pz {
  display: flex;
  flex-direction: column;
}
.li___4Nq8P {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___4Nq8P {
    font-size: 14px;
  }
}
.ul__i6Qcw {
  display: flex;
  flex-direction: column;
}
.li___0IN0S {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___0IN0S {
    font-size: 14px;
  }
}
.description32 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description32 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description33 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description33 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.ul__qwFFg {
  display: flex;
  flex-direction: column;
}
.li__swMK {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__swMK {
    font-size: 14px;
  }
}
.ul__qEiQi {
  display: flex;
  flex-direction: column;
}
.li__k0AoP {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__k0AoP {
    font-size: 14px;
  }
}
.ul___9Vh7S {
  display: flex;
  flex-direction: column;
}
.li__jXx3 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__jXx3 {
    font-size: 14px;
  }
}
.freeBox__v2VQ1 {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  max-width: 1100px;
  padding-left: 40px;
  min-width: 0;
}
.freeBox__v2VQ1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2VQ1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2VQ1 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v2VQ1 > :global(.__wab_flex-container) > *,
  .freeBox__v2VQ1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v2VQ1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__v2VQ1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.freeBox__ev4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__qi3H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qi3H {
    border-right-style: solid;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    flex-row-gap: 0px;
    border-width: 1px;
    border-color: #838383;
  }
}
.text___7ZCWe {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  color: var(--token-rURwa59QG9tAvf);
  min-width: 0;
  padding: 10px;
}
.freeBox__eXIz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: solid;
  height: 100%;
  min-height: 0;
  border-width: 1px;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eXIz {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    flex-column-gap: 0px;
    min-height: 0;
    border: 1px solid #838383;
  }
}
.text___54Uty {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___54Uty {
    font-size: 14px;
  }
}
.freeBox__kOJpM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  height: 44px;
  flex-shrink: 0;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kOJpM {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    height: 100%;
    flex-column-gap: 0px;
    min-height: 0;
    border-style: solid;
    border-color: #838383;
  }
}
.text__qhbYk {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
.freeBox__a829V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__iwadz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iwadz {
    border-right-style: solid;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    flex-row-gap: 0px;
    border-width: 1px;
    border-color: #838383;
  }
}
.text__a6G71 {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
.freeBox__mvlCr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: solid;
  height: 100%;
  min-height: 0;
  border-width: 1px;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mvlCr {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    flex-column-gap: 0px;
    min-height: 0;
    border: 1px solid #838383;
  }
}
.text__ebDmf {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ebDmf {
    font-size: 14px;
  }
}
.freeBox___3S8Hx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  height: 44px;
  flex-shrink: 0;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3S8Hx {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    height: 100%;
    flex-column-gap: 0px;
    min-height: 0;
    border-style: solid;
    border-color: #838383;
  }
}
.text__wwgQe {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
.freeBox__iiVue {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 280px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iiVue {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__a6Ara {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a6Ara {
    border-right-style: solid;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    flex-row-gap: 0px;
    border-width: 1px;
    border-color: #838383;
  }
}
.text__ecJI {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
.freeBox__llh4M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__llh4M {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-column-gap: 0px;
    border: 1px solid #838383;
  }
}
.text__zaGay {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zaGay {
    font-size: 14px;
  }
}
.freeBox__gDo54 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  height: 44px;
  flex-shrink: 0;
  border-color: #838383;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gDo54 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    flex-column-gap: 0px;
    border-style: solid;
    border-color: #838383;
  }
}
.text__eG4F8 {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
.freeBox__qw4G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__mdKaF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #838383;
}
.text__w6WQu {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
.freeBox__fsv8A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
  border: 1px solid #838383;
}
.text__pMnzm {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pMnzm {
    font-size: 14px;
  }
}
.freeBox__k2Pep {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  height: 44px;
  flex-shrink: 0;
  border-style: solid;
  border-color: #838383;
}
.link__iEbOt {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 100%;
  min-width: 0;
  padding: 10px;
}
.description39 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description39 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.ul__lNmiD {
  display: flex;
  flex-direction: column;
}
.ul__kryn4 {
  display: flex;
  flex-direction: column;
}
.li__ynaEe {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__ynaEe {
    font-size: 14px;
  }
}
.description34 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description34 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description35 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description35 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description36 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description36 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description37 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description37 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.ul__eSdnt {
  display: flex;
  flex-direction: column;
}
.li__poJLw {
  color: var(--token-kkADBIMoiuctme);
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
}
.ul__hiBx8 {
  display: flex;
  flex-direction: column;
}
.li__jvHn {
  font-family: "Inter", sans-serif;
  color: var(--token-kkADBIMoiuctme);
  text-decoration-line: underline;
}
.ul__awFIx {
  display: flex;
  flex-direction: column;
}
.li___5Cz3B {
  text-decoration-line: underline;
  color: var(--token-kkADBIMoiuctme);
  font-family: "Inter", sans-serif;
}
.ul__toDoI {
  display: flex;
  flex-direction: column;
}
.li__wTWh {
  color: var(--token-kkADBIMoiuctme);
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
}
.ul__bktOk {
  display: flex;
  flex-direction: column;
}
.li__b82N {
  font-family: "Inter", sans-serif;
  color: var(--token-kkADBIMoiuctme);
  text-decoration-line: underline;
}
.link___2Hop {
  padding-bottom: 0px;
}
.ul__qvDom {
  display: flex;
  flex-direction: column;
}
.li___1SWaK {
  color: var(--token-kkADBIMoiuctme);
  font-family: "Inter", sans-serif;
  text-decoration-line: underline;
}
.ul__djjps {
  display: flex;
  flex-direction: column;
}
.li__vyP1O {
  color: var(--token-kkADBIMoiuctme);
  font-family: "Inter", sans-serif;
  text-decoration-line: underline;
}
.ul__krYLr {
  display: flex;
  flex-direction: column;
}
.li__gVHhS {
  color: var(--token-kkADBIMoiuctme);
  font-family: "Inter", sans-serif;
  text-decoration-line: underline;
}
.description38 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description38 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
