.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 153px;
  background: var(--token-PS_unVUtFLPPh9);
  box-shadow: 0px 4px 9px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-5HKBFn2cQc6ffz);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.freeBox__eP2O {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__eP2O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__eP2O > :global(.__wab_flex-container) > *,
.freeBox__eP2O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eP2O > :global(.__wab_flex-container) > picture > img,
.freeBox__eP2O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__fnovV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  height: 60px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img__t4UJo {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.img__t4UJo > picture > img {
  object-fit: cover;
}
.img__t4UJo > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__go1N {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
}
@media (max-width: 1440px) {
  .freeBox__go1N {
    max-width: none;
  }
}
.slotTargetCourseTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.15;
}
