.root {
  flex-direction: row;
  background: var(--token-PS_unVUtFLPPh9);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: 0px 112px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 97px);
  width: calc(100% + 97px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 97px;
}
@media (max-width: 1440px) {
  .root {
    background: var(--token-PS_unVUtFLPPh9);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-width: 0;
    padding: 0px 75px;
  }
}
@media (max-width: 1440px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 97px);
    width: calc(100% + 97px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1440px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 97px;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .root {
    background: var(--token-PS_unVUtFLPPh9);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 97px);
    width: calc(100% + 97px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1024px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 97px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: var(--token-PS_unVUtFLPPh9);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 97px);
    width: calc(100% + 97px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 97px;
    margin-top: 0px;
  }
}
.freeBox__mu0Do {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 1216px;
  min-width: 0;
  padding: 104px 0px;
}
.freeBox__mu0Do > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mu0Do > :global(.__wab_flex-container) > *,
.freeBox__mu0Do > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mu0Do > :global(.__wab_flex-container) > picture > img,
.freeBox__mu0Do
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox__mu0Do {
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 1216px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 100px 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox__mu0Do > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 1440px) {
  .freeBox__mu0Do > :global(.__wab_flex-container) > *,
  .freeBox__mu0Do > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mu0Do > :global(.__wab_flex-container) > picture > img,
  .freeBox__mu0Do
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (max-width: 1024px) {
  .freeBox__mu0Do {
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 1216px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 80px;
  }
}
@media (max-width: 1024px) {
  .freeBox__mu0Do > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 1024px) {
  .freeBox__mu0Do > :global(.__wab_flex-container) > *,
  .freeBox__mu0Do > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mu0Do > :global(.__wab_flex-container) > picture > img,
  .freeBox__mu0Do
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mu0Do {
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 1216px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mu0Do > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mu0Do > :global(.__wab_flex-container) > *,
  .freeBox__mu0Do > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mu0Do > :global(.__wab_flex-container) > picture > img,
  .freeBox__mu0Do
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.freeBox__qH1Zn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.freeBox__qH1Zn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__qH1Zn > :global(.__wab_flex-container) > *,
.freeBox__qH1Zn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qH1Zn > :global(.__wab_flex-container) > picture > img,
.freeBox__qH1Zn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox__qH1Zn {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    align-self: stretch;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox__qH1Zn > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 1440px) {
  .freeBox__qH1Zn > :global(.__wab_flex-container) > *,
  .freeBox__qH1Zn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qH1Zn > :global(.__wab_flex-container) > picture > img,
  .freeBox__qH1Zn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qH1Zn {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    align-self: stretch;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qH1Zn > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qH1Zn > :global(.__wab_flex-container) > *,
  .freeBox__qH1Zn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qH1Zn > :global(.__wab_flex-container) > picture > img,
  .freeBox__qH1Zn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.sectionHeading8 {
  flex-direction: column;
  height: auto;
  display: flex;
  overflow: hidden;
}
.sectionHeading8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.sectionHeading8 > :global(.__wab_flex-container) > *,
.sectionHeading8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading8 > :global(.__wab_flex-container) > picture > img,
.sectionHeading8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1440px) {
  .sectionHeading8 {
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}
@media (max-width: 1440px) {
  .sectionHeading8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (max-width: 1440px) {
  .sectionHeading8 > :global(.__wab_flex-container) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > picture > img,
  .sectionHeading8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionHeading8 {
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionHeading8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionHeading8 > :global(.__wab_flex-container) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sectionHeading8 > :global(.__wab_flex-container) > picture > img,
  .sectionHeading8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.sectionTitle8 {
  display: block;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 124%;
  color: var(--token-bG-1q3mVx5bija);
  align-self: center;
  position: relative;
  text-align: center;
  max-width: 1100px;
  width: 100%;
}
@media (max-width: 1024px) {
  .sectionTitle8 {
    display: block;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 124%;
    color: var(--token-bG-1q3mVx5bija);
    align-self: center;
    position: relative;
    text-align: center;
    max-width: 800px;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionTitle8 {
    font-size: 32px;
    line-height: 42px;
    text-align: left;
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: var(--token-bG-1q3mVx5bija);
    align-self: center;
    position: relative;
    max-width: 800px;
    width: 100%;
  }
}
.freeBox__ltojl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ltojl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ltojl > :global(.__wab_flex-container) > *,
.freeBox__ltojl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ltojl > :global(.__wab_flex-container) > picture > img,
.freeBox__ltojl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ltojl {
    position: relative;
    align-self: flex-start;
    padding: 0px;
  }
}
.description18 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  color: var(--token-rURwa59QG9tAvf);
  text-align: justify;
  width: 100%;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  line-height: 1.8;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description18 {
    text-align: left;
    max-width: 800px;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    width: 100%;
  }
}
.description19 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description19 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description20 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description20 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description22 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description22 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description23 {
  display: block;
  font-size: 21px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description23 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description24 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description24 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description21 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description21 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description26 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description26 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description27 {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description27 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description94 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description94 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description28 {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description28 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description33 {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  padding-top: 0px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description33 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description34 {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description34 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description29 {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description29 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description30 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description30 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description31 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description31 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description32 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description32 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description35 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description35 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.ul__qcItq {
  display: flex;
  flex-direction: column;
}
.li__hp6U4 {
  margin-top: 0px;
}
.description36 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description36 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description37 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description37 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description38 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description38 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description39 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description39 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description40 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description40 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description41 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description41 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description43 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description43 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.ul__pd6Zn {
  display: flex;
  flex-direction: column;
}
.description42 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description42 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description44 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description44 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.ul__luRzt {
  display: flex;
  flex-direction: column;
}
.description45 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description45 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description46 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description46 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.link {
  color: #123ea0;
}
.description47 {
  display: block;
  font-size: 21px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description47 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description48 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description48 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description49 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description49 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description50 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description50 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description51 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description51 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description52 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description52 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description53 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description53 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description54 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description54 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description55 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description55 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.ul__lHUym {
  display: flex;
  flex-direction: column;
}
.description56 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description56 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description57 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description57 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.ul___86J1S {
  display: flex;
  flex-direction: column;
}
.li__sdDv0 {
  padding-bottom: 0px;
}
.description95 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description95 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.ul__qgfyY {
  display: flex;
  flex-direction: column;
}
.li__eHfUu {
  margin-left: 60px;
}
.li___93L8 {
  margin-left: 60px;
}
.li__lvgRa {
  margin-left: 60px;
}
.li__qUcO {
  margin-left: 60px;
}
.description59 {
  display: block;
  font-size: 21px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description59 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description58 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description58 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description60 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description60 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description62 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description62 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description64 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description64 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description65 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description65 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description67 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description67 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description96 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description96 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.ul__sUKhY {
  display: flex;
  flex-direction: column;
}
.description97 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description97 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description98 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description98 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description99 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description99 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description100 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description100 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description66 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description66 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description68 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description68 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description69 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description69 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description70 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description70 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description78 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description78 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description79 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description79 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description82 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description82 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description83 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description83 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description84 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description84 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description85 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description85 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description101 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description101 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description102 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description102 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description103 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description103 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description86 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description86 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description91 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description91 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
.description104 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: justify;
  width: 100%;
  align-self: center;
  max-width: 1100px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .description104 {
    text-align: left;
    max-width: 800px;
    align-self: flex-start;
    display: block;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 28px;
    color: var(--token-rURwa59QG9tAvf);
    position: relative;
    width: 100%;
  }
}
