.root {
  flex-direction: row;
  background: var(--token-mt1hQJ4Hj);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: 0px 112px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 97px);
  width: calc(100% + 97px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 97px;
}
@media (max-width: 1440px) {
  .root {
    padding: 0px 75px;
  }
}
@media (max-width: 1024px) {
  .root {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 0px;
  }
}
.freeBox__u3Es9 {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 1216px;
  min-width: 0;
  padding: 104px 0px;
}
.freeBox__u3Es9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__u3Es9 > :global(.__wab_flex-container) > *,
.freeBox__u3Es9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u3Es9 > :global(.__wab_flex-container) > picture > img,
.freeBox__u3Es9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox__u3Es9 {
    max-width: 1216px;
    padding: 100px 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__u3Es9 {
    padding: 80px;
  }
}
@media (max-width: 1024px) {
  .freeBox__u3Es9 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 80px);
    height: calc(100% + 80px);
  }
}
@media (max-width: 1024px) {
  .freeBox__u3Es9 > :global(.__wab_flex-container) > *,
  .freeBox__u3Es9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u3Es9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__u3Es9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 80px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u3Es9 {
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u3Es9 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u3Es9 > :global(.__wab_flex-container) > *,
  .freeBox__u3Es9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u3Es9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__u3Es9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.freeBox__cmWjZ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.freeBox__cmWjZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__cmWjZ > :global(.__wab_flex-container) > *,
.freeBox__cmWjZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cmWjZ > :global(.__wab_flex-container) > picture > img,
.freeBox__cmWjZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox__cmWjZ {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__cmWjZ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 72px);
    height: calc(100% + 72px);
  }
}
@media (max-width: 1024px) {
  .freeBox__cmWjZ > :global(.__wab_flex-container) > *,
  .freeBox__cmWjZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cmWjZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__cmWjZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 72px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cmWjZ {
    padding: 0px;
  }
}
.sectionHeading7 {
  flex-direction: column;
  height: auto;
  display: flex;
  overflow: hidden;
}
.sectionHeading7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.sectionHeading7 > :global(.__wab_flex-container) > *,
.sectionHeading7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading7 > :global(.__wab_flex-container) > picture > img,
.sectionHeading7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.sectionTitle7 {
  display: block;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 124%;
  color: var(--token-bG-1q3mVx5bija);
  align-self: center;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 1024px) {
  .sectionTitle7 {
    font-size: 38px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionTitle7 {
    font-size: 32px;
    line-height: 42px;
    text-align: left;
  }
}
.description14 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: center;
  width: 100%;
  align-self: center;
  max-width: 800px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1024px) {
  .description14 {
    max-width: 580px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .description14 {
    max-width: 800px;
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__unEr0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__unEr0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__unEr0 > :global(.__wab_flex-container) > *,
.freeBox__unEr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__unEr0 > :global(.__wab_flex-container) > picture > img,
.freeBox__unEr0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (max-width: 1440px) {
  .freeBox__unEr0 {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 1440px) {
  .freeBox__unEr0 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 30px);
    width: calc(100% + 30px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1440px) {
  .freeBox__unEr0 > :global(.__wab_flex-container) > *,
  .freeBox__unEr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__unEr0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__unEr0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 30px;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__unEr0 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .freeBox__unEr0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (max-width: 1024px) {
  .freeBox__unEr0 > :global(.__wab_flex-container) > *,
  .freeBox__unEr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__unEr0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__unEr0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__unEr0 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__unEr0 > :global(.__wab_flex-container) > *,
  .freeBox__unEr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__unEr0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__unEr0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.testimonialItem__aeqlE:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__gz0Gg {
  flex-direction: row;
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  height: 285px;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__gz0Gg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__gz0Gg > :global(.__wab_flex-container) > *,
.freeBox__gz0Gg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gz0Gg > :global(.__wab_flex-container) > picture > img,
.freeBox__gz0Gg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__knYh0 {
  flex-direction: row;
  background: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(50px);
  width: 80px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(50px);
  border-radius: 59px;
  padding: 0px;
}
.freeBox__knYh0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__knYh0 > :global(.__wab_flex-container) > *,
.freeBox__knYh0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__knYh0 > :global(.__wab_flex-container) > picture > img,
.freeBox__knYh0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__idM8J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__lKRfq {
  object-fit: cover;
  max-width: 100%;
}
.img__lKRfq > picture > img {
  object-fit: cover;
}
.img__lKRfq > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___5IKau:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__tEzw {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  display: block;
}
.svg__apIrX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.testimonialItem__fcOis:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox___2EXql {
  flex-direction: row;
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  height: 285px;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2EXql > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___2EXql > :global(.__wab_flex-container) > *,
.freeBox___2EXql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2EXql > :global(.__wab_flex-container) > picture > img,
.freeBox___2EXql
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__jtCx6 {
  flex-direction: row;
  background: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(50px);
  width: 80px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(50px);
  border-radius: 59px;
  padding: 0px;
}
.freeBox__jtCx6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__jtCx6 > :global(.__wab_flex-container) > *,
.freeBox__jtCx6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jtCx6 > :global(.__wab_flex-container) > picture > img,
.freeBox__jtCx6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__gbmVd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__pqBM {
  object-fit: cover;
  max-width: 100%;
}
.img__pqBM > picture > img {
  object-fit: cover;
}
.img__pqBM > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__u4Pd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xW7Dw {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  display: block;
}
.svg__cVQxB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.testimonialItem__epTxw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__qa4Rs {
  flex-direction: row;
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  height: 285px;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qa4Rs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__qa4Rs > :global(.__wab_flex-container) > *,
.freeBox__qa4Rs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qa4Rs > :global(.__wab_flex-container) > picture > img,
.freeBox__qa4Rs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__cWysp {
  flex-direction: row;
  background: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(50px);
  width: 80px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(50px);
  border-radius: 59px;
  padding: 0px;
}
.freeBox__cWysp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cWysp > :global(.__wab_flex-container) > *,
.freeBox__cWysp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cWysp > :global(.__wab_flex-container) > picture > img,
.freeBox__cWysp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___3TnnX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__b8FXw {
  object-fit: cover;
  max-width: 100%;
}
.img__b8FXw > picture > img {
  object-fit: cover;
}
.img__b8FXw > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___2N7Pt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__srN7E {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  display: block;
}
.svg__pyGq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__cfSlY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.button__qk4Mc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 175px;
  align-self: auto;
}
.svg__lDYh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__dptlk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
