.root {
  flex-direction: row;
  background: var(--token-mt1hQJ4Hj);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: 0px 112px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 97px);
  width: calc(100% + 97px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 97px;
}
@media (max-width: 1440px) {
  .root {
    padding: 0px 75px;
  }
}
@media (max-width: 1024px) {
  .root {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 0px;
  }
}
.freeBox___7GqU8 {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 1216px;
  min-width: 0;
  padding: 104px 0px;
}
.freeBox___7GqU8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___7GqU8 > :global(.__wab_flex-container) > *,
.freeBox___7GqU8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7GqU8 > :global(.__wab_flex-container) > picture > img,
.freeBox___7GqU8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox___7GqU8 {
    max-width: 1216px;
    padding: 100px 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox___7GqU8 {
    padding: 80px;
  }
}
@media (max-width: 1024px) {
  .freeBox___7GqU8 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 80px);
    height: calc(100% + 80px);
  }
}
@media (max-width: 1024px) {
  .freeBox___7GqU8 > :global(.__wab_flex-container) > *,
  .freeBox___7GqU8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7GqU8 > :global(.__wab_flex-container) > picture > img,
  .freeBox___7GqU8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 80px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7GqU8 {
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7GqU8 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7GqU8 > :global(.__wab_flex-container) > *,
  .freeBox___7GqU8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7GqU8 > :global(.__wab_flex-container) > picture > img,
  .freeBox___7GqU8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.freeBox__xpcCc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.freeBox__xpcCc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__xpcCc > :global(.__wab_flex-container) > *,
.freeBox__xpcCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xpcCc > :global(.__wab_flex-container) > picture > img,
.freeBox__xpcCc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (max-width: 1440px) {
  .freeBox__xpcCc {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__xpcCc > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 72px);
    height: calc(100% + 72px);
  }
}
@media (max-width: 1024px) {
  .freeBox__xpcCc > :global(.__wab_flex-container) > *,
  .freeBox__xpcCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xpcCc > :global(.__wab_flex-container) > picture > img,
  .freeBox__xpcCc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 72px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xpcCc {
    padding: 0px;
  }
}
.sectionHeading7 {
  flex-direction: column;
  height: auto;
  display: flex;
  overflow: hidden;
}
.sectionHeading7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.sectionHeading7 > :global(.__wab_flex-container) > *,
.sectionHeading7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading7 > :global(.__wab_flex-container) > picture > img,
.sectionHeading7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.sectionTitle7 {
  display: block;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 124%;
  color: var(--token-bG-1q3mVx5bija);
  align-self: center;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 1024px) {
  .sectionTitle7 {
    font-size: 38px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionTitle7 {
    font-size: 32px;
    line-height: 42px;
    text-align: left;
  }
}
.description14 {
  display: block;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 28px;
  color: var(--token-rURwa59QG9tAvf);
  position: relative;
  text-align: center;
  width: 100%;
  align-self: center;
  max-width: 800px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1024px) {
  .description14 {
    max-width: 580px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .description14 {
    max-width: 800px;
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__kKr0A {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__kKr0A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__kKr0A > :global(.__wab_flex-container) > *,
.freeBox__kKr0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kKr0A > :global(.__wab_flex-container) > picture > img,
.freeBox__kKr0A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (max-width: 1440px) {
  .freeBox__kKr0A {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 1440px) {
  .freeBox__kKr0A > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 30px);
    width: calc(100% + 30px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1440px) {
  .freeBox__kKr0A > :global(.__wab_flex-container) > *,
  .freeBox__kKr0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kKr0A > :global(.__wab_flex-container) > picture > img,
  .freeBox__kKr0A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 30px;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__kKr0A {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .freeBox__kKr0A > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (max-width: 1024px) {
  .freeBox__kKr0A > :global(.__wab_flex-container) > *,
  .freeBox__kKr0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kKr0A > :global(.__wab_flex-container) > picture > img,
  .freeBox__kKr0A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKr0A > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKr0A > :global(.__wab_flex-container) > *,
  .freeBox__kKr0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kKr0A > :global(.__wab_flex-container) > picture > img,
  .freeBox__kKr0A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.testimonialItem__jnWkr:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__jxdm7 {
  flex-direction: row;
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  height: 285px;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jxdm7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__jxdm7 > :global(.__wab_flex-container) > *,
.freeBox__jxdm7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jxdm7 > :global(.__wab_flex-container) > picture > img,
.freeBox__jxdm7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__a7Gei {
  flex-direction: row;
  background: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(50px);
  width: 80px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(50px);
  border-radius: 59px;
  padding: 0px;
}
.freeBox__a7Gei > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__a7Gei > :global(.__wab_flex-container) > *,
.freeBox__a7Gei > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a7Gei > :global(.__wab_flex-container) > picture > img,
.freeBox__a7Gei
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__opx8Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__uy8GW {
  object-fit: cover;
  max-width: 100%;
}
.img__uy8GW > picture > img {
  object-fit: cover;
}
.img__uy8GW > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__aOJif:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__dnCno {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  display: block;
}
.svg__p5Ni {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.testimonialItem__eikTq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__gjs3M {
  flex-direction: row;
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  height: 285px;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__gjs3M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__gjs3M > :global(.__wab_flex-container) > *,
.freeBox__gjs3M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gjs3M > :global(.__wab_flex-container) > picture > img,
.freeBox__gjs3M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__pzSfd {
  flex-direction: row;
  background: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(50px);
  width: 80px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(50px);
  border-radius: 59px;
  padding: 0px;
}
.freeBox__pzSfd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__pzSfd > :global(.__wab_flex-container) > *,
.freeBox__pzSfd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzSfd > :global(.__wab_flex-container) > picture > img,
.freeBox__pzSfd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__vJr7I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__bllw2 {
  object-fit: cover;
  max-width: 100%;
}
.img__bllw2 > picture > img {
  object-fit: cover;
}
.img__bllw2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___2C562:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lOKkF {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  display: block;
}
.svg__lPqaP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.testimonialItem__bCe0D:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox___8Ef3L {
  flex-direction: row;
  background: url("https://studio.plasmic.app/static/img/placeholder.png") top
    50% left 50% / cover repeat;
  height: 285px;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___8Ef3L > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___8Ef3L > :global(.__wab_flex-container) > *,
.freeBox___8Ef3L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Ef3L > :global(.__wab_flex-container) > picture > img,
.freeBox___8Ef3L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox___6FGVw {
  flex-direction: row;
  background: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(50px);
  width: 80px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(50px);
  border-radius: 59px;
  padding: 0px;
}
.freeBox___6FGVw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___6FGVw > :global(.__wab_flex-container) > *,
.freeBox___6FGVw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6FGVw > :global(.__wab_flex-container) > picture > img,
.freeBox___6FGVw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___4FW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__qpn4N {
  object-fit: cover;
  max-width: 100%;
}
.img__qpn4N > picture > img {
  object-fit: cover;
}
.img__qpn4N > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___1ZgEd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__poiNq {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  display: block;
}
.svg__blBmA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__wRegR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.button__auYlj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 175px;
  align-self: auto;
}
.svg__oFbmu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ikzui {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
