.root {
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 6px;
  padding: 16px 30px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootshowStartIcon {
  display: flex;
}
.rooticonOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootoutline {
  border: 1px solid var(--token-5HKBFn2cQc6ffz);
}
.rootbgDifference {
  mix-blend-mode: difference;
}
.rootround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.rootflat {
  padding: 0px;
}
.rootextraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rootsize_small {
  padding: 9px 16px;
}
.rootsize_linkOnly {
  padding: 0px;
}
.rootdrawer_open {
  width: 42px;
  height: 42px;
  padding: 0px;
}
.rootdrawer_open > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootdrawer_open > :global(.__wab_flex-container) > *,
.rootdrawer_open > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootdrawer_open > :global(.__wab_flex-container) > picture > img,
.rootdrawer_open
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.rootdrawer_close {
  width: 42px;
  height: 42px;
  padding: 0px;
}
.rootpreviousNextPage_previousPage {
  padding: 0px;
}
.rootpreviousNextPage_nextPage {
  padding: 0px;
}
.rootpreviousNextPage_previousPageLastChild {
  padding: 0px;
}
.rootpreviousNextPage_nextPageLastChild {
  padding: 0px;
}
.rootsocialIcons_linkedin {
  background: #2d71fa1a;
  padding: 10px;
}
.rootcolor_gradient {
  background: linear-gradient(
      61deg,
      var(--token-VqII2Vrjh) 1%,
      #20ded3 85%,
      #20ded3 90%
    )
    0% 0% / 100% 100% no-repeat;
  flex-direction: row;
  border-radius: 8px;
  border-width: 0px;
}
.rootcolor_gradient > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_gradient > :global(.__wab_flex-container) > *,
.rootcolor_gradient > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_gradient > :global(.__wab_flex-container) > picture > img,
.rootcolor_gradient
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootcolor_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 16px 24px;
  border: 1px solid transparent;
}
.rootcolor_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_indigo > :global(.__wab_flex-container) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolor_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor_blue {
  background: var(--token-pAiBZiPuJDzIlm);
}
.rootcolor_accentBlue {
  background: var(--token-CVazqwRPi);
}
.rootcolor_white {
  background: var(--token-PS_unVUtFLPPh9);
}
.rootcolor_darkGray {
  background: var(--token-rURwa59QG9tAvf);
}
.root:hover {
  background: var(--token-SBs5OhYYQajelR);
}
.rootsize_linkOnly:hover {
  background: none;
}
.rootcolor_gradient:hover {
  background: linear-gradient(
      61deg,
      var(--token-bG-1q3mVx5bija) 98%,
      #20ded3 99%,
      #20ded3 100%
    )
    0% 0% / 100% 100% no-repeat;
  cursor: pointer;
  flex-direction: row;
  border-radius: 8px;
  padding: 16px 24px;
  border: 0px solid transparent;
}
.rootcolor_gradient:hover > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_gradient:hover > :global(.__wab_flex-container) > *,
.rootcolor_gradient:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootcolor_gradient:hover > :global(.__wab_flex-container) > picture > img,
.rootcolor_gradient:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor_indigo:hover {
  background: #5e5ce6;
}
.rootcolor_blue:hover {
  background: #1a88ff;
}
.rootcolor_accentBlue:hover {
  background: #1acbc1;
}
.rootcolor_darkGray:hover {
  background: var(--token-Z0ZzvovcIjdV3S);
}
.rootsize_small_color_gradient:hover {
  padding: 9px 16px;
}
.root:focus {
  box-shadow: 0px 0px 0px 4px #0095ff80;
  outline: none;
}
.slotTargetStartIcon {
  color: var(--token-rURwa59QG9tAvf);
}
.slotTargetStartIconcolor_gradient {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetStartIconcolor_indigo {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetStartIconcolor_blue {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetStartIconcolor_accentBlue {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetStartIconcolor_white {
  color: var(--token-rURwa59QG9tAvf);
}
.slotTargetStartIconcolor_darkGray {
  color: var(--token-fzAgjo__LDyvGK);
}
.slotTargetStartIconcolor_link {
  color: var(--token-lx9uNR1Kfdcn90);
}
.svg__s1C3T {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
}
.slotTargetChildren {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  white-space: pre;
  font-family: "Inter", sans-serif;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
}
.slotTargetChildrencolor_navLink {
  font-weight: 400;
  color: var(--token-rURwa59QG9tAvf);
}
.slotTargetChildrenlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetChildrensize_large {
  font-size: 21px;
}
.slotTargetChildrensize_linkOnly {
  color: #f3f3f6bf;
  font-size: 14px;
  font-weight: 400;
}
.slotTargetChildrencolor_gradient {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetChildrencolor_indigo {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetChildrencolor_blue {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetChildrencolor_accentBlue {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetChildrencolor_darkGray {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetChildrencolor_link {
  color: var(--token-pAiBZiPuJDzIlm);
}
.rootcolor_navLink:hover .slotTargetChildrencolor_navLink {
  color: var(--token-rURwa59QG9tAvf);
}
.rootcolor_navLink:hover .slotTargetChildrencolor_navLink > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot-string-wrapper,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
.rootsize_linkOnly:hover .slotTargetChildrensize_linkOnly {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetEndIcon {
  color: var(--token-rURwa59QG9tAvf);
}
.slotTargetEndIconcolor_gradient {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetEndIconcolor_indigo {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetEndIconcolor_blue {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetEndIconcolor_accentBlue {
  color: var(--token-PS_unVUtFLPPh9);
}
.slotTargetEndIconcolor_white {
  color: var(--token-rURwa59QG9tAvf);
}
.slotTargetEndIconcolor_darkGray {
  color: var(--token-fzAgjo__LDyvGK);
}
.slotTargetEndIconcolor_link {
  color: var(--token-lx9uNR1Kfdcn90);
}
.svg__sxEvb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.svg__nTvX0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  display: none;
}
.svgdrawer_open__nTvX0AhVH {
  display: block;
}
.svgdrawer_close__nTvX0YarGw {
  display: block;
}
.svgpreviousNextPage_previousPage__nTvX0KKbFz {
  width: 75px;
  height: 24px;
  color: var(--token-SJ67sECIb);
  flex-shrink: 0;
  display: block;
}
.svgpreviousNextPage_nextPage__nTvX0ERog6 {
  width: 75px;
  height: 24px;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  color: var(--token-SJ67sECIb);
  flex-shrink: 0;
  display: block;
}
.svgpreviousNextPage_previousPageLastChild__nTvX05Ie7Z {
  width: 75px;
  height: 24px;
  max-width: 100%;
  color: var(--token-5HKBFn2cQc6ffz);
  flex-shrink: 0;
  display: block;
}
.svgpreviousNextPage_nextPageLastChild__nTvX0AKs0Q {
  width: 75px;
  height: 24px;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  color: var(--token-5HKBFn2cQc6ffz);
  flex-shrink: 0;
  display: block;
}
.svg__ccPgk {
  position: relative;
  plasmic-display-none: true;
  object-fit: cover;
  max-width: 100%;
  color: #2d71fa;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.svgsocialIcons_linkedin__ccPgk5Yesw {
  display: block;
}
