.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #363636;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__wMryt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  max-width: 100%;
  background: #232323;
  flex-shrink: 0;
  min-height: 0;
  padding: 20px 72px;
}
.freeBox__kNJg2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #8f7cff;
  text-align: left;
}
.freeBox__rFeZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 30px;
}
.freeBox__dZ71L {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.slotTargetDescription {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #e2e2e2;
}
