.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: radial-gradient(
    ellipse 60% 60% at 50% 50%,
    #181818 0%,
    #000000 100%
  );
  min-width: 0;
  min-height: 0;
}
.freeBox__dAEh {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  top: -1px;
  z-index: 2;
  right: 0;
}
.navBar__rS3D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  right: auto;
}
.linkJr2__e34T2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__pqcGv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nvGxS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__cmrP5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__dNd2C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__lrYtv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2___3EUMr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__g5ZxY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ed6Hm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__hzgqn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sAuKn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rmHqf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__rRpyc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ett4J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__hkfzm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qfNpR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__l6Mlm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__ootcn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.logo___4Mwis:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__fQ095:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___46Kgl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.content404 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden;
  margin-top: 96px;
  min-width: 0;
  min-height: 0;
  padding: 60px;
}
.content404 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.content404 > :global(.__wab_flex-container) > *,
.content404 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content404 > :global(.__wab_flex-container) > picture > img,
.content404
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (max-width: 1440px) {
  .content404 {
    padding: 60px;
  }
}
@media (max-width: 1440px) {
  .content404 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 1440px) {
  .content404 > :global(.__wab_flex-container) > *,
  .content404 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content404 > :global(.__wab_flex-container) > picture > img,
  .content404
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (max-width: 1200px) {
  .content404 {
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .content404 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .content404 > :global(.__wab_flex-container) > *,
  .content404 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content404 > :global(.__wab_flex-container) > picture > img,
  .content404
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .content404 {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .content404 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1024px) {
  .content404 > :global(.__wab_flex-container) > *,
  .content404 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content404 > :global(.__wab_flex-container) > picture > img,
  .content404
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content404 {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .content404 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.freeBox__klEoW {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 62px 0px;
}
.freeBox__klEoW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__klEoW > :global(.__wab_flex-container) > *,
.freeBox__klEoW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__klEoW > :global(.__wab_flex-container) > picture > img,
.freeBox__klEoW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__klEoW {
    padding: 40px 25px;
  }
}
.img__tlSBx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 342px;
  height: 410px;
  flex-shrink: 0;
}
.img__tlSBx > picture > img {
  object-fit: cover;
}
.img__tlSBx > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__tlSBx {
    height: auto;
    width: 293px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tlSBx {
    width: 190px;
  }
}
.freeBox__w6Ozy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__w6Ozy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__w6Ozy > :global(.__wab_flex-container) > *,
.freeBox__w6Ozy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w6Ozy > :global(.__wab_flex-container) > picture > img,
.freeBox__w6Ozy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.freeBox__btdB1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 6px;
}
.freeBox__btdB1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btdB1 {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btdB1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btdB1 > :global(.__wab_flex-container) > *,
  .freeBox__btdB1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__btdB1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__btdB1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__muKoQ {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 600;
  font-size: 45px;
  color: #ffffff;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__muKoQ {
    font-size: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__muKoQ {
    line-height: 1.1;
    font-size: 30px;
  }
}
.text__dctFi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #b4b4b4;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dctFi {
    font-size: 16px;
    max-width: 328px;
  }
}
.freeBox__wXrYt {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wXrYt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__wXrYt > :global(.__wab_flex-container) > *,
.freeBox__wXrYt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wXrYt > :global(.__wab_flex-container) > picture > img,
.freeBox__wXrYt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wXrYt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wXrYt > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wXrYt > :global(.__wab_flex-container) > *,
  .freeBox__wXrYt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wXrYt > :global(.__wab_flex-container) > picture > img,
  .freeBox__wXrYt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.button__ifgqF:global(.__wab_instance) {
  max-width: 100%;
}
.svg__s92Qv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.text__wzbgA {
  font-size: 16px;
}
.button__z9DN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wVJtC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.text___0Er5O {
  font-size: 16px;
}
.freeBox__cAulW {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__cAulW {
    display: none;
  }
}
.img__uKMoZ {
  object-fit: cover;
  max-width: 100%;
  width: 642px;
  height: 642px;
  display: block !important;
  position: absolute;
  left: 1724px;
  top: -357px;
  flex-shrink: 0;
}
.img__uKMoZ > picture > img {
  object-fit: cover;
}
.img__uKMoZ > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 1440px) {
  .img__uKMoZ {
    left: 1169px;
    top: -506px;
  }
}
.img__crC5E {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: scale(0.9991526409913551, 0.9988934213392479)
    rotate(-15.023764109185578deg) skew(-0.05538423089636782deg, 0deg);
  width: 304px;
  height: 304px;
  display: block !important;
  transform-origin: top left;
  left: 1729px;
  top: 259px;
  flex-shrink: 0;
}
.img__crC5E > picture > img {
  object-fit: cover;
}
.img__crC5E > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 1440px) {
  .img__crC5E {
    left: 1295px;
    top: 67px;
  }
}
.img__pRnoD {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: scale(1.0008441437106979, 1.0013437219948313)
    rotate(150.0278965773234deg) skew(0.04959166810552971deg, 0deg);
  width: 297px;
  height: 297px;
  display: block !important;
  transform-origin: top left;
  left: 202px;
  top: 670px;
  flex-shrink: 0;
}
.img__pRnoD > picture > img {
  object-fit: cover;
}
.img__pRnoD > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__pRnoD {
    left: 162px;
  }
}
.img__oSqLo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: scale(1.0005563452399868, 1.0012629521226113)
    rotate(135.04049171022928deg) skew(0.040520306031716184deg, 0deg);
  width: 623px;
  height: 623px;
  display: block !important;
  transform-origin: top left;
  left: 641px;
  top: 990px;
  flex-shrink: 0;
}
.img__oSqLo > picture > img {
  object-fit: cover;
}
.img__oSqLo > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__oSqLo {
    left: 538px;
    top: 1015px;
  }
}
.banner__zsBEn:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.button__qyHTs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jxv8Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.footer___9Brn8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.linkJr2__fkRwo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hmCtl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__zNDwA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__zeG6S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ld4LH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__kKa0R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__fVxfQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1ECr1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg___6Zi1P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__psT8H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__us7S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__sf2Qm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__nd3Pq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lMgGc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg___1SzKr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__iWeS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fTPhH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__jglkg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__aJCv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mQBkY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__y0Udv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__i6Tmw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gziQo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__tVpa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
