.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 112px;
  padding-right: 112px;
  background: #ffffff;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 97px);
  width: calc(100% + 97px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 97px;
}
@media (max-width: 1200px) {
  .root {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 1024px) {
  .root {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 24px;
    padding-right: 25px;
  }
}
.freeBox__iLq5E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1216px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding: 104px 0px;
}
@media (max-width: 1200px) {
  .freeBox__iLq5E {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .freeBox__iLq5E {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iLq5E {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.freeBox__ptaUf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeading {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeading > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.sectionHeading > :global(.__wab_flex-container) > *,
.sectionHeading > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading > :global(.__wab_flex-container) > picture > img,
.sectionHeading
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 124%;
  letter-spacing: -0.03em;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}
.freeBox__dkQka {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dkQka > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__dkQka > :global(.__wab_flex-container) > *,
.freeBox__dkQka > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dkQka > :global(.__wab_flex-container) > picture > img,
.freeBox__dkQka
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.p___9Xpxs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  min-width: 0;
}
.p___75SDe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p___2Fn8P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__gdHnu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__vIta {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  min-width: 0;
}
.p__zQcKo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p___0SoZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__vtRhP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__hWuy1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p___3Y5N2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__bHel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__a2W1B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__zpH9M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__rEg93 {
  flex-direction: column;
  display: flex;
}
.ul__rEg93 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__rEg93 > :global(.__wab_flex-container) > *,
.ul__rEg93 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__rEg93 > :global(.__wab_flex-container) > picture > img,
.ul__rEg93
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.li__z9Lja {
  line-height: 1.5;
  font-size: 16px;
}
.li__fxVeE {
  line-height: 1.5;
  font-size: 16px;
}
.p__umC83 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__vXviC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__cuLex {
  flex-direction: column;
  display: flex;
}
.ul__cuLex > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__cuLex > :global(.__wab_flex-container) > *,
.ul__cuLex > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__cuLex > :global(.__wab_flex-container) > picture > img,
.ul__cuLex
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.li__utKg6 {
  line-height: 1.5;
  font-size: 16px;
}
.li__tx4F9 {
  line-height: 1.5;
}
.li__bGsB {
  line-height: 1.5;
  font-size: 16px;
}
.freeBox__gZr5N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1100px;
  min-width: 0;
  padding: 0px 0px 0px 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gZr5N {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox___9WRUv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__b5NJu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__ao6Wk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__n1Th {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__lbhft {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lbhft {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__p4La2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 44px;
  max-width: 100%;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__gQuh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__y8Yjq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bpoM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__yvx59 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__cdojz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__u9Rqb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__hkgtb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 44px;
  max-width: 100%;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__nLdWq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox___0Bkey {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___0S5Yc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__ce8Up {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__t3Bd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  background: none;
  width: 100%;
  min-width: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__whV6S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__o4DGn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 44px;
  max-width: 100%;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__rLraI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__y9KNm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pAj6L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__xOtnx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 700;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__ypYjn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  background: none;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text___9IwkF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.freeBox__bvkns {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 44px;
  max-width: 100%;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border: 1px solid #838383;
}
.text__rCoLo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  color: #000000;
  min-width: 0;
  padding: 10px;
}
.p__lP82M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__dwG5C {
  flex-direction: column;
  display: flex;
}
.ul__dwG5C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__dwG5C > :global(.__wab_flex-container) > *,
.ul__dwG5C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__dwG5C > :global(.__wab_flex-container) > picture > img,
.ul__dwG5C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.li__uyahz {
  line-height: 1.5;
  font-size: 16px;
}
.li__fn5Cg {
  line-height: 1.5;
  font-size: 16px;
}
.p__ju2Sl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__r5Zuj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__ju5Sa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__u2Mq9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__u2Mq9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__u2Mq9 > :global(.__wab_flex-container) > *,
.freeBox__u2Mq9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u2Mq9 > :global(.__wab_flex-container) > picture > img,
.freeBox__u2Mq9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__lFkrr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__xRusH {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul__xRusH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__xRusH > :global(.__wab_flex-container) > *,
.ul__xRusH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__xRusH > :global(.__wab_flex-container) > picture > img,
.ul__xRusH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__zeP6I {
  text-decoration-line: underline;
  color: #123ea0;
}
.p__kpHwl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__mm9Iz {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul__mm9Iz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__mm9Iz > :global(.__wab_flex-container) > *,
.ul__mm9Iz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__mm9Iz > :global(.__wab_flex-container) > picture > img,
.ul__mm9Iz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__qlNhs {
  text-decoration-line: underline;
  color: #123ea0;
}
.p__ehEtU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul___8JU5 {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul___8JU5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul___8JU5 > :global(.__wab_flex-container) > *,
.ul___8JU5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul___8JU5 > :global(.__wab_flex-container) > picture > img,
.ul___8JU5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__nKnB {
  text-decoration-line: underline;
  color: #123ea0;
}
.p__aqnrt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__lTO4 {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul__lTO4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__lTO4 > :global(.__wab_flex-container) > *,
.ul__lTO4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__lTO4 > :global(.__wab_flex-container) > picture > img,
.ul__lTO4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link___8Tun {
  color: #123ea0;
}
.p___0Cj04 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__vsHrQ {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul__vsHrQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__vsHrQ > :global(.__wab_flex-container) > *,
.ul__vsHrQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__vsHrQ > :global(.__wab_flex-container) > picture > img,
.ul__vsHrQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__sI84L {
  text-decoration-line: underline;
  color: #123ea0;
}
.p__wNmQw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__p8Unh {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul__p8Unh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__p8Unh > :global(.__wab_flex-container) > *,
.ul__p8Unh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__p8Unh > :global(.__wab_flex-container) > picture > img,
.ul__p8Unh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__mPmkl {
  text-decoration-line: underline;
  color: #123ea0;
}
.p__bcEmN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__w9Nog {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul__w9Nog > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__w9Nog > :global(.__wab_flex-container) > *,
.ul__w9Nog > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__w9Nog > :global(.__wab_flex-container) > picture > img,
.ul__w9Nog
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__s5Az {
  text-decoration-line: underline;
  color: #123ea0;
}
.p__wi4Z2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__dNbir {
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}
.ul__dNbir > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.ul__dNbir > :global(.__wab_flex-container) > *,
.ul__dNbir > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul__dNbir > :global(.__wab_flex-container) > picture > img,
.ul__dNbir
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__oZxuG {
  text-decoration-line: underline;
  color: #123ea0;
}
.p__aApsG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
