.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox___1L3Md {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox___1L3Md {
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    right: 0;
    width: auto;
  }
}
.freeBox__hBfAl {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.navBar__d60J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.logo__ppGy7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__upZVq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__wRmNm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.linkJr2__kx5Gi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__tIY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0O2NX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2___1Q2V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__sfm4K {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dlHNy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__bo6Nt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___1D7Pz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__w8Mpz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__yXZx8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kfDaw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___7Ix6C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__tsXe6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uFi0V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__fROe6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fuUb9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__ljaXf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__msRcd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.header__i2Yjn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.filterItems__yhm6K:global(.__wab_instance) {
  max-width: 100%;
}
.filterItems__ovwU2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.logo__pzCeE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.linkJr2__vajVu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__jcVwC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__j7BoR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__qd5T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___9Ul2Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zbyfV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__lw9NX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__fLraz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fwrHt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__cyacZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__oqp7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__arLdN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__uzdW1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__fabQg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__kSQy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rYnfL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__d0OZc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lJ7GY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__oqI1P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg___7Kdyu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.freeBox__eejTn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1760px;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  min-width: 0;
  padding: 60px;
}
.freeBox__eejTn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.freeBox__eejTn > :global(.__wab_flex-container) > *,
.freeBox__eejTn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eejTn > :global(.__wab_flex-container) > picture > img,
.freeBox__eejTn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (max-width: 1440px) {
  .freeBox__eejTn {
    padding: 60px;
  }
}
@media (max-width: 1440px) {
  .freeBox__eejTn > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 1440px) {
  .freeBox__eejTn > :global(.__wab_flex-container) > *,
  .freeBox__eejTn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eejTn > :global(.__wab_flex-container) > picture > img,
  .freeBox__eejTn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
@media (max-width: 1200px) {
  .freeBox__eejTn {
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__eejTn > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox__eejTn > :global(.__wab_flex-container) > *,
  .freeBox__eejTn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eejTn > :global(.__wab_flex-container) > picture > img,
  .freeBox__eejTn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__eejTn {
    margin-top: 72px;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__eejTn > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1024px) {
  .freeBox__eejTn > :global(.__wab_flex-container) > *,
  .freeBox__eejTn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eejTn > :global(.__wab_flex-container) > picture > img,
  .freeBox__eejTn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eejTn {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eejTn > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.freeBox__rZrX5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  flex-direction: row;
  min-width: 0;
  display: none;
}
.slotTargetHeading {
  font-size: 25px;
  letter-spacing: normal;
  font-weight: 500;
  color: #000000;
}
.heading:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__nBStY {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nBStY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nBStY > :global(.__wab_flex-container) > *,
.freeBox__nBStY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nBStY > :global(.__wab_flex-container) > picture > img,
.freeBox__nBStY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 1200px) {
  .freeBox__nBStY {
    padding: 60px 0px 30px 60px;
  }
}
@media (max-width: 1024px) {
  .freeBox__nBStY {
    overflow: visible;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .freeBox__nBStY > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 1024px) {
  .freeBox__nBStY > :global(.__wab_flex-container) > *,
  .freeBox__nBStY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nBStY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nBStY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nBStY {
    display: flex;
    padding: 25px 0px 25px 25px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nBStY > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nBStY > :global(.__wab_flex-container) > *,
  .freeBox__nBStY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nBStY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nBStY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 1440px) {
  .text {
    font-size: 18px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: 16px;
    font-weight: 600;
  }
}
.offerCategory___1G7C7:global(.__wab_instance) {
  max-width: 100%;
}
.offerCategoryItem__k3EbH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6CJr0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #ffffff;
}
.offerCategoryItem__rTtWe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rvqTu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #ffffff;
}
.offerCategoryItem__djs9Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cScAx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #ffffff;
}
.offerCategoryItem__qnJsj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qVaku {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #ffffff;
}
.offerCategoryItem__uXePi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uRcW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #ffffff;
}
.freeBox__sGh8C {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1666px;
  min-width: 0;
  padding: 0px;
}
.freeBox__sGh8C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sGh8C > :global(.__wab_flex-container) > *,
.freeBox__sGh8C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sGh8C > :global(.__wab_flex-container) > picture > img,
.freeBox__sGh8C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (max-width: 1440px) {
  .freeBox__sGh8C {
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox__sGh8C > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 42px);
    height: calc(100% + 42px);
  }
}
@media (max-width: 1440px) {
  .freeBox__sGh8C > :global(.__wab_flex-container) > *,
  .freeBox__sGh8C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sGh8C > :global(.__wab_flex-container) > picture > img,
  .freeBox__sGh8C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 42px;
  }
}
@media (max-width: 1200px) {
  .freeBox__sGh8C {
    padding: 30px 60px 60px;
  }
}
@media (max-width: 1024px) {
  .freeBox__sGh8C {
    padding: 20px 40px 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sGh8C {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sGh8C > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sGh8C > :global(.__wab_flex-container) > *,
  .freeBox__sGh8C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sGh8C > :global(.__wab_flex-container) > picture > img,
  .freeBox__sGh8C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__kKyYl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: none;
  max-width: 1666px;
  min-width: 0;
  padding: 0px;
}
.freeBox__kKyYl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.freeBox__kKyYl > :global(.__wab_flex-container) > *,
.freeBox__kKyYl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kKyYl > :global(.__wab_flex-container) > picture > img,
.freeBox__kKyYl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (max-width: 1440px) {
  .freeBox__kKyYl {
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__kKyYl {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__kKyYl {
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKyYl {
    width: 100%;
    overflow: visible;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKyYl > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 35px);
    height: calc(100% + 35px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKyYl > :global(.__wab_flex-container) > *,
  .freeBox__kKyYl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kKyYl > :global(.__wab_flex-container) > picture > img,
  .freeBox__kKyYl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 35px;
  }
}
.freeBox__f2Ctc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__f2Ctc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__f2Ctc > :global(.__wab_flex-container) > *,
.freeBox__f2Ctc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f2Ctc > :global(.__wab_flex-container) > picture > img,
.freeBox__f2Ctc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f2Ctc > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f2Ctc > :global(.__wab_flex-container) > *,
  .freeBox__f2Ctc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f2Ctc > :global(.__wab_flex-container) > picture > img,
  .freeBox__f2Ctc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__df90 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox__df90 {
    justify-content: space-between;
    max-width: none;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__df90 {
    justify-content: space-between;
  }
}
.slotTargetActiveOffers {
  font-size: 20px;
  font-weight: 600;
  color: #020202;
}
@media (max-width: 1440px) {
  .slotTargetActiveOffers {
    font-size: 18px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetActiveOffers {
    font-size: 16px;
  }
}
.button__mLkq8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg___4Uwj2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 1em;
  height: 1em;
  display: block;
}
.freeBox__djoK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.banner__fhHw:global(.__wab_instance) {
  position: relative;
}
.button__fpBzc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__u7XmR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.footer__pczmF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.linkJr2__oWvft:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3YQyg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__kgvKb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__rojme:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0CUf3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__uCn6N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__yChEs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aAiJj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__xt3SM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2___3PC0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__y5Ggb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__yqPm8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__hegSz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ndHh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__pYc4M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__qaXvR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4WHn8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__rwkaP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__ym9H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__znu2S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__wp6Ce {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__dx86R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7QDbR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg___8KvFi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
