.root {
  flex-direction: row;
  display: flex;
  position: relative;
  background: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 20px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootcolor_clear {
  background: #ffffff00;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_white {
  background: none;
}
.rootsize_compact_shape_round {
  padding: 6px;
}
.rootshape_rounded_showStartIcon {
  padding-left: 16px;
}
.rootshape_rounded_showEndIcon {
  padding-right: 16px;
}
.root:hover {
  background: none;
}
.rootcolor_clear:hover {
  background: none;
  border-style: none;
}
.rootcolor_link:hover {
  background: #ffffff00;
}
.rootcolor_white:hover {
  background: none;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:active {
  background: none;
}
.rootcolor_clear:active {
  background: #e3e3e0;
}
.rootcolor_link:active {
  background: #ffffff00;
}
.rootcolor_white:active {
  background: #e3e3e0;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.rootcolor_link:hover .slotTargetStartIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetStartIconcolor_link {
  color: #006adc;
}
.svg__a9Prs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetLabel {
  color: #000000;
  font-weight: 500;
  white-space: pre;
}
.slotTargetLabelcolor_clear {
  color: #1b1b18;
}
.slotTargetLabelcolor_link {
  color: #0091ff;
}
.slotTargetLabelcolor_white {
  color: #ffffff;
}
.root:hover .slotTargetLabel {
  color: #6b0df8;
}
.rootcolor_link:hover .slotTargetLabelcolor_link {
  color: #0081f1;
}
.rootcolor_link:hover .slotTargetLabelcolor_link > .__wab_text,
.rootcolor_link:hover .slotTargetLabelcolor_link > .__wab_slot-string-wrapper,
.rootcolor_link:hover .slotTargetLabelcolor_link > .__wab_slot > .__wab_text,
.rootcolor_link:hover
  .slotTargetLabelcolor_link
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_link:hover
  .slotTargetLabelcolor_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_link:hover
  .slotTargetLabelcolor_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_link:hover
  .slotTargetLabelcolor_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_link:hover
  .slotTargetLabelcolor_link
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.rootcolor_white:hover .slotTargetLabelcolor_white {
  color: #6b0df8;
}
.root:focus-within .slotTargetLabel > *,
.root:focus-within .slotTargetLabel > .__wab_slot > *,
.root:focus-within .slotTargetLabel > .__wab_slot > .__wab_slot > *,
.root:focus-within
  .slotTargetLabel
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root:focus-within .slotTargetLabel > picture > img,
.root:focus-within .slotTargetLabel > .__wab_slot > picture > img,
.root:focus-within .slotTargetLabel > .__wab_slot > .__wab_slot > picture > img,
.root:focus-within
  .slotTargetLabel
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.root .slotTargetLabel___focusVisibleWithin > *,
.root .slotTargetLabel___focusVisibleWithin > .__wab_slot > *,
.root .slotTargetLabel___focusVisibleWithin > .__wab_slot > .__wab_slot > *,
.root
  .slotTargetLabel___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root .slotTargetLabel___focusVisibleWithin > picture > img,
.root .slotTargetLabel___focusVisibleWithin > .__wab_slot > picture > img,
.root
  .slotTargetLabel___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.root
  .slotTargetLabel___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.root:active .slotTargetLabel {
  color: #6b0df8;
}
.rootcolor_link:active .slotTargetLabelcolor_link {
  color: #006adc;
}
.rootcolor_white:active .slotTargetLabelcolor_white {
  color: #6b0df8;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.rootcolor_link:hover .slotTargetEndIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetEndIconcolor_link {
  color: #006adc;
}
.svg__cGiIj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
