.root {
  flex-direction: row;
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-shrink: 0;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  box-shadow: 0px 1px 1px 0px #0000000a, 0px 1px 2px 0px #0000000a,
    0px 0px 2px 0px #0000000a;
  -webkit-transition-property: background, color;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-duration: 0.3s, 0.3s;
  border-radius: 20px;
  padding: 16px 24px;
  border-width: 1px;
  border-style: none;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rootcolor_darkBlue {
  background: #140c3a;
}
.rootcolor_whiteTransparent {
  background: #ffffff1a;
  box-shadow: 0px 0px 2px 0px #0000000a;
}
.rootcolor_gradientRound2 {
  background: linear-gradient(90deg, #f3b322 0%, #ca5997 50%, #6b0df8 100%) 0%
    0% / 100% 100% repeat;
  box-shadow: none;
  border-radius: 20px;
}
.rootcolor_disabled {
  box-shadow: none;
  background: #707070;
  cursor: not-allowed;
}
.rootcolor_gradientStroke {
  box-shadow: none;
  border: 2px solid #fcfcfc;
}
.rootsize_normal {
  box-shadow: none;
}
.rootsize_normal > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.rootsize_normal > :global(.__wab_flex-container) > *,
.rootsize_normal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootsize_normal > :global(.__wab_flex-container) > picture > img,
.rootsize_normal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootsize_normal {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
  }
}
.rootsize_small {
  box-shadow: none;
  padding: 9px 16px;
}
.rootsize_medium {
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootsize_medium {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 16px;
  }
}
.rootsize_large {
  height: 74px;
  padding-left: 38px;
  padding-right: 38px;
  box-shadow: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootsize_large {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 64px;
    border-radius: 18px;
  }
}
.rootsize_strech {
  width: 100%;
  box-shadow: none;
  min-width: 0;
}
.rootsize_strech > :global(.__wab_flex-container) {
  min-width: 0;
}
.rootsize_linkOnly {
  height: auto;
  box-shadow: none;
  padding: 0px;
}
.rootcolor_purple {
  background: #6b0df8;
}
.rootsize_sticky {
  box-shadow: none;
  width: 100%;
  min-width: 0;
  border-radius: 0px;
}
.rootsize_sticky > :global(.__wab_flex-container) {
  min-width: 0;
}
.rootshowStartIcon {
  height: auto;
  box-shadow: none;
  padding: 4px 8px;
}
.rootshowStartIcon > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: flex-start;
}
.rootshowEndIcon {
  box-shadow: none;
}
.rootmenu_black {
  box-shadow: none;
  padding: 0px;
}
.rootmenu_white {
  box-shadow: none;
  padding: 0px;
}
.rootdropdown_downBlack {
  box-shadow: none;
  padding: 0px;
}
.rootdropdown_upBlack {
  box-shadow: none;
  padding: 0px;
}
.rootdropdown_closeBlack {
  width: auto;
  height: auto;
  box-shadow: none;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  border-radius: 20px;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.rootdropdown_closeBlack > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootdropdown_closeBlack > :global(.__wab_flex-container) > *,
.rootdropdown_closeBlack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootdropdown_closeBlack > :global(.__wab_flex-container) > picture > img,
.rootdropdown_closeBlack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootdropdown_downTransparent {
  box-shadow: none;
  padding: 0px;
}
.rootdropdown_upTransparent {
  box-shadow: none;
  padding: 0px;
}
.rootcolor_white {
  background: #ffffff;
}
.rootdropdown_closeTransparent {
  box-shadow: none;
  padding: 0px;
}
.roottype_normal {
  box-shadow: none;
}
.roottype__return {
  box-shadow: none;
  padding: 0px;
}
.roottype_nextItem {
  box-shadow: none;
  padding: 0px;
}
.roottype_lastItem {
  box-shadow: none;
  padding: 0px;
}
.roottype_nextItemDisabled {
  box-shadow: none;
  padding: 0px;
}
.roottype_lastItemDisabled {
  box-shadow: none;
  padding: 0px;
}
.rooticonOnly_black {
  box-shadow: none;
  padding: 0px;
  border-color: #d3d3d3;
}
.rooticonOnly_white {
  box-shadow: none;
  padding: 0px;
}
.rootcolor_yellow {
  background: #ffd26d;
}
.rootcolor_black {
  background: #000000;
  display: flex;
  flex-direction: row;
}
.rootcolor_black > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_black > :global(.__wab_flex-container) > *,
.rootcolor_black > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_black > :global(.__wab_flex-container) > picture > img,
.rootcolor_black
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootcolor_navy {
  background: #462f86;
}
.rootcolor_gradientRound {
  background: none;
  box-shadow: inset 0px 0px 0px 5px #00000033;
  border-radius: 45px;
}
.rootcolor_whiteText {
  box-shadow: none;
}
.rootcolor_grey {
  background: #f2f2f2;
}
.root:hover {
  background: #f3f3f6;
  box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024,
    0px 1px 10px 0px #0000001f;
  border-radius: 21px;
  border-width: 1px;
  border-style: none;
}
.rootcolor_darkBlue:hover {
  background: #36296e;
}
.rootcolor_whiteTransparent:hover {
  background: #ffffff33;
  box-shadow: none;
}
.rootcolor_gradientRound2:hover {
  background: linear-gradient(#ffffff33, #ffffff33),
    linear-gradient(90deg, #f3b322 0%, #ca5997 50%, #6b0df8 100%);
  box-shadow: none;
  border-radius: 20px;
}
.rootcolor_disabled:hover {
  box-shadow: none;
  background: #707070;
}
.rootcolor_purple:hover {
  background: #7f2bfd;
}
.rootshowStartIcon:hover {
  background: #ededed80;
  box-shadow: none;
  border-radius: 8px;
  padding: 4px 8px;
}
.rootmenu_black:hover {
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
.rootmenu_white:hover {
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
.rootdropdown_downBlack:hover {
  background: none;
  box-shadow: none;
}
.rootdropdown_upBlack:hover {
  width: auto;
  background: none;
  box-shadow: none;
  display: inline-flex;
  padding: 0px;
}
.rootdropdown_downTransparent:hover {
  background: none;
  box-shadow: none;
  padding: 0px;
}
.rootdropdown_upTransparent:hover {
  background: none;
  box-shadow: none;
  padding: 0px;
}
.rootcolor_white:hover {
  background: #f1f1f1;
}
.rooticonOnly_black:hover {
  box-shadow: none;
  background: none;
}
.rooticonOnly_white:hover {
  box-shadow: none;
  background: none;
}
.rootcolor_yellow:hover {
  background: #fdbd2d;
}
.rootcolor_black:hover {
  background: #434343;
}
.rootcolor_navy:hover {
  background: #5d3db2;
}
.rootcolor_gradientRound:hover {
  box-shadow: inset 0px 0px 0px 5px #00000033;
  background: none;
  border-radius: 45px;
}
.rootcolor_whiteText:hover {
  background: none;
  box-shadow: none;
}
.rootsize_sticky_color_purple:hover {
  box-shadow: none;
  background: #9752fd;
  border-radius: 0px;
}
.root:focus-within {
  outline: none;
}
.freeBox___1GcOx {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  min-width: 0;
}
.freeBox___1GcOx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBoxsize_normal___1GcOxieJk3 > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxsize_normal___1GcOxieJk3 > :global(.__wab_flex-container) > *,
.freeBoxsize_normal___1GcOxieJk3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxsize_normal___1GcOxieJk3
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxsize_normal___1GcOxieJk3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxshowStartIcon___1GcOx4Ldm > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxshowStartIcon___1GcOx4Ldm > :global(.__wab_flex-container) > *,
.freeBoxshowStartIcon___1GcOx4Ldm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxshowStartIcon___1GcOx4Ldm
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxshowStartIcon___1GcOx4Ldm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxshowEndIcon___1GcOx6EarK {
  width: 100%;
  height: auto;
  max-width: 800px;
  flex-direction: row-reverse;
  min-width: 0;
}
.freeBoxshowEndIcon___1GcOx6EarK > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxshowEndIcon___1GcOx6EarK > :global(.__wab_flex-container) > *,
.freeBoxshowEndIcon___1GcOx6EarK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxshowEndIcon___1GcOx6EarK
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxshowEndIcon___1GcOx6EarK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxmenu_black___1GcOxln2Sn {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
.freeBoxmenu_white___1GcOXyPfhc {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
.freeBoxdropdown_closeBlack___1GcOxqse6 {
  display: flex;
}
.freeBoxtype__return___1GcOXogobZ > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxtype__return___1GcOXogobZ > :global(.__wab_flex-container) > *,
.freeBoxtype__return___1GcOXogobZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxtype__return___1GcOXogobZ
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxtype__return___1GcOXogobZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxtype_nextItem___1GcOXoIrHa {
  flex-direction: row-reverse;
}
.freeBoxtype_nextItem___1GcOXoIrHa > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxtype_nextItem___1GcOXoIrHa > :global(.__wab_flex-container) > *,
.freeBoxtype_nextItem___1GcOXoIrHa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxtype_nextItem___1GcOXoIrHa
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxtype_nextItem___1GcOXoIrHa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxtype_lastItem___1GcOxUn9Gv > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxtype_lastItem___1GcOxUn9Gv > :global(.__wab_flex-container) > *,
.freeBoxtype_lastItem___1GcOxUn9Gv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxtype_lastItem___1GcOxUn9Gv
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxtype_lastItem___1GcOxUn9Gv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxtype_nextItemDisabled___1GcOxsKUa {
  flex-direction: row-reverse;
}
.freeBoxtype_nextItemDisabled___1GcOxsKUa > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxtype_nextItemDisabled___1GcOxsKUa > :global(.__wab_flex-container) > *,
.freeBoxtype_nextItemDisabled___1GcOxsKUa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxtype_nextItemDisabled___1GcOxsKUa
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxtype_nextItemDisabled___1GcOxsKUa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxtype_lastItemDisabled___1GcOxCxVtY > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxtype_lastItemDisabled___1GcOxCxVtY > :global(.__wab_flex-container) > *,
.freeBoxtype_lastItemDisabled___1GcOxCxVtY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxtype_lastItemDisabled___1GcOxCxVtY
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxtype_lastItemDisabled___1GcOxCxVtY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxiconOnly_black___1GcOxtxYz {
  display: none;
}
.freeBoxiconOnly_white___1GcOXiFVsb {
  display: none;
}
.freeBoxcolor_black___1GcOXyf4JR {
  max-width: none;
  width: 100%;
  min-width: 0;
}
.freeBoxcolor_black___1GcOXyf4JR > :global(.__wab_flex-container) {
  min-width: 0;
}
.slotTargetIcon {
  color: #535353;
}
.slotTargetIconmenu_black {
  font-size: 18px;
}
.slotTargetIconcolor_whiteText {
  color: #ffffff;
}
.svg__tXjl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
  display: block;
}
.slotTargetLabel {
  font-weight: 600;
  color: #000000;
  white-space: pre;
  font-size: 16px;
}
.slotTargetLabelcolor_darkBlue {
  color: #ffffff;
}
.slotTargetLabelcolor_whiteTransparent {
  color: #ffffff;
}
.slotTargetLabelcolor_gradientRound2 {
  color: #ffffff;
}
.slotTargetLabelcolor_disabled {
  color: #ffffff;
}
.slotTargetLabelcolor_gradientStroke {
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetLabelsize_normal {
    font-size: 16px;
  }
}
.slotTargetLabelsize_medium {
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetLabelsize_medium {
    font-size: 16px;
  }
}
.slotTargetLabelsize_large {
  font-size: 22px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetLabelsize_large {
    font-size: 19px;
  }
}
.slotTargetLabelsize_linkOnly {
  font-size: 18px;
  font-weight: 600;
}
.slotTargetLabelcolor_purple {
  color: #ffffff;
}
.slotTargetLabeltype__return {
  color: #666a75;
}
.slotTargetLabeltype_nextItem {
  font-size: 14px;
  color: #666a75;
}
.slotTargetLabeltype_lastItem {
  font-size: 14px;
  color: #666a75;
}
.slotTargetLabeltype_nextItemDisabled {
  font-size: 14px;
  color: #c2c3c8;
}
.slotTargetLabeltype_lastItemDisabled {
  font-size: 14px;
  color: #c2c3c8;
}
.slotTargetLabelcolor_black {
  color: #ffffff;
}
.slotTargetLabelcolor_navy {
  color: #ffffff;
}
.slotTargetLabelcolor_gradientRound {
  color: #ffffff;
}
.slotTargetLabelcolor_whiteText {
  color: #ffffff;
}
.rootcolor_whiteTransparent:hover .slotTargetLabelcolor_whiteTransparent {
  color: #ffffff;
}
.rootcolor_disabled:hover .slotTargetLabelcolor_disabled {
  color: #ffffff;
}
.rootshowStartIcon:hover .slotTargetLabelshowStartIcon {
  color: #6b0df8;
}
.rootcolor_white:hover .slotTargetLabelcolor_white {
  color: #000000;
}
.rootcolor_whiteText:hover .slotTargetLabelcolor_whiteText {
  color: #a54df4;
}
.svg___17Xg0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  plasmic-display-none: false;
  width: 100%;
  height: 100%;
  color: #000000;
  min-width: 0;
  min-height: 0;
}
.svgmenu_white___17Xg0YPfhc {
  color: #ffffff;
  display: block;
}
.svgdropdown_downBlack___17Xg0GcHdg {
  display: none;
}
.freeBox__nb7Hs {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxdropdown_downBlack__nb7HsGcHdg {
  background: #2e2e2e;
  display: flex;
  border-radius: 5px;
  padding: 0px;
}
.freeBoxdropdown_upBlack__nb7Hs4742W {
  background: #2e2e2e;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  display: flex;
  border-radius: 5px;
  padding: 0px;
}
.freeBoxdropdown_closeBlack__nb7HsQse6 {
  width: 30px;
  height: 30px;
  max-width: 100%;
  background: #2e2e2e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-column-gap: 0px;
  flex-shrink: 0;
  display: flex;
  border-radius: 5px;
  padding: 0px;
}
.freeBoxdropdown_downTransparent__nb7HsMndp8 {
  display: flex;
  padding: 0px;
}
.freeBoxdropdown_upTransparent__nb7HsURhUa {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  display: flex;
  padding: 0px;
}
.freeBoxdropdown_closeTransparent__nb7HsYxYtR {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: flex;
}
.svg__mAGx {
  plasmic-display-none: true;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.svgdropdown_downBlack__mAGxGcHdg {
  display: block;
}
.svgdropdown_upBlack__mAGx4742W {
  display: block;
}
.svgdropdown_closeBlack__mAGxQse6 {
  height: 15px;
  width: 15px;
  flex-shrink: 0;
  display: block;
}
.svgdropdown_downTransparent__mAGxMndp8 {
  display: block;
}
.svgdropdown_upTransparent__mAGxURhUa {
  display: block;
}
.svgdropdown_closeTransparent__mAGxYxYtR {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  display: block;
}
.svg__lfjjC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.svgdropdown_closeBlack__lfjjCqse6 {
  display: none;
}
.svgiconOnly_black__lfjjCtxYz {
  width: 24px;
  height: 24px;
  color: #000000;
  flex-shrink: 0;
  display: block;
}
.svgiconOnly_white__lfjjCiFVsb {
  color: #ffffff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: block;
}
