.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 112px;
  padding-right: 112px;
  background: #ffffff;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 97px);
  width: calc(100% + 97px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 97px;
}
@media (max-width: 1200px) {
  .root {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 1024px) {
  .root {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 24px;
    padding-right: 25px;
  }
}
.freeBox__qa26V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1216px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding: 104px 0px;
}
@media (max-width: 1200px) {
  .freeBox__qa26V {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .freeBox__qa26V {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qa26V {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.freeBox__i18Bx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeading {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeading > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.sectionHeading > :global(.__wab_flex-container) > *,
.sectionHeading > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading > :global(.__wab_flex-container) > picture > img,
.sectionHeading
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 124%;
  letter-spacing: -0.03em;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}
.freeBox__agp9F {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__agp9F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__agp9F > :global(.__wab_flex-container) > *,
.freeBox__agp9F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__agp9F > :global(.__wab_flex-container) > picture > img,
.freeBox__agp9F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.p___0PD7P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__mhi5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__zqzY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__d4VcE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__iIeTa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0em;
  min-width: 0;
}
.p__hsYw8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__wAzRs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p___7PFbA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__ixZl4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__ft4Xf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p___8NE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__q2Usm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p___768YS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__nQq8Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p___8OrrO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__qTfjh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__r6Ae4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p___4ImI2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__tuHyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__ekWbc {
  display: flex;
  flex-direction: column;
}
.p__eOmH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__ocujn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__nuuNo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__rG4Ew {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__ktwmf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__aNkEu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__fChF4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__iAuwj {
  display: flex;
  flex-direction: column;
}
.p___4QmPt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__i9UHo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__vT0N {
  display: flex;
  flex-direction: column;
}
.p__xvNeJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__ncVr2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__gid0Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__tlhw0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__e4BeZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__kxxEd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__rtI4T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__oKpKk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__qcFyc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__zJxP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__tf6Dr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__iz1F4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__kmUAu {
  display: flex;
  flex-direction: column;
}
.p__nYf6I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__jd6Xc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__zKgT1 {
  display: flex;
  flex-direction: column;
}
.p__zsDEi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__tFqFo {
  display: flex;
  flex-direction: column;
}
.p__i6BzI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__nJeB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__pbBx9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__ch2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__dhEd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__oEAi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__nHLnh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__nqOyA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.ul__zuTmK {
  display: flex;
  flex-direction: column;
}
.p__clQdr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p___2HwGp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__bvEVs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__hUezd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__oGfaf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  min-width: 0;
}
.p__go9DX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__ax7Zt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__gsBzi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__ifHIz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 0;
}
.p__hYhvt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__mBxe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 0;
}
.p__yAcEg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-top: 0px;
  min-width: 0;
}
.p__kMp6Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
.p__rspZr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-top: 0px;
  min-width: 0;
}
.p___5SarG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-top: 0px;
  min-width: 0;
}
.p__cbtFq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-top: 0px;
  min-width: 0;
}
.p___2RfXh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-top: 0px;
  min-width: 0;
}
.p__iaMg1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__t1Lta {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-top: 0px;
  min-width: 0;
}
.p__iaRlO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-top: 0px;
  min-width: 0;
}
