.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: #f2f2f2;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 72px 112px 104px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    height: auto;
    padding: 32px 25px;
  }
}
.freeBox___6VMlk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1216px;
  min-width: 0;
  padding: 0px;
}
.freeBox___6VMlk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.freeBox___6VMlk > :global(.__wab_flex-container) > *,
.freeBox___6VMlk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6VMlk > :global(.__wab_flex-container) > picture > img,
.freeBox___6VMlk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (max-width: 1024px) {
  .freeBox___6VMlk > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 45px);
    height: calc(100% + 45px);
  }
}
@media (max-width: 1024px) {
  .freeBox___6VMlk > :global(.__wab_flex-container) > *,
  .freeBox___6VMlk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6VMlk > :global(.__wab_flex-container) > picture > img,
  .freeBox___6VMlk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 45px;
  }
}
.freeBox__wAP2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wAP2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 42px);
  width: calc(100% + 42px);
}
.freeBox__wAP2 > :global(.__wab_flex-container) > *,
.freeBox__wAP2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wAP2 > :global(.__wab_flex-container) > picture > img,
.freeBox__wAP2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 42px;
}
@media (max-width: 1024px) {
  .freeBox__wAP2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .freeBox__wAP2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 45px);
    height: calc(100% + 45px);
  }
}
@media (max-width: 1024px) {
  .freeBox__wAP2 > :global(.__wab_flex-container) > *,
  .freeBox__wAP2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wAP2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__wAP2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 45px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wAP2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wAP2 > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 45px);
    height: calc(100% + 45px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wAP2 > :global(.__wab_flex-container) > *,
  .freeBox__wAP2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wAP2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__wAP2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 45px;
  }
}
.freeBox__v1Yzy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v1Yzy {
    width: 100%;
    min-width: 0;
  }
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___67Eo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___67Eo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___67Eo > :global(.__wab_flex-container) > *,
.freeBox___67Eo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___67Eo > :global(.__wab_flex-container) > picture > img,
.freeBox___67Eo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .freeBox___67Eo > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 1024px) {
  .freeBox___67Eo > :global(.__wab_flex-container) > *,
  .freeBox___67Eo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___67Eo > :global(.__wab_flex-container) > picture > img,
  .freeBox___67Eo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___67Eo > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___67Eo > :global(.__wab_flex-container) > *,
  .freeBox___67Eo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___67Eo > :global(.__wab_flex-container) > picture > img,
  .freeBox___67Eo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text__zqhpj {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.buttonContent {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  border-radius: 8px;
}
.buttonContent > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonContent > :global(.__wab_flex-container) > *,
.buttonContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonContent > :global(.__wab_flex-container) > picture > img,
.buttonContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonContent > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonContent > :global(.__wab_flex-container) > *,
  .buttonContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .buttonContent > :global(.__wab_flex-container) > picture > img,
  .buttonContent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__lSuhY {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lSuhY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lSuhY > :global(.__wab_flex-container) > *,
.freeBox__lSuhY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lSuhY > :global(.__wab_flex-container) > picture > img,
.freeBox__lSuhY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1024px) {
  .freeBox__lSuhY > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (max-width: 1024px) {
  .freeBox__lSuhY > :global(.__wab_flex-container) > *,
  .freeBox__lSuhY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lSuhY > :global(.__wab_flex-container) > picture > img,
  .freeBox__lSuhY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lSuhY > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lSuhY > :global(.__wab_flex-container) > *,
  .freeBox__lSuhY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lSuhY > :global(.__wab_flex-container) > picture > img,
  .freeBox__lSuhY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.linkJr2__ryFXj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__t658E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg___7DvlZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__kvL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__f40Jv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__klI4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__lCfZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eJmev {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__ykoC7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___2VJql {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2VJql > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___2VJql > :global(.__wab_flex-container) > *,
.freeBox___2VJql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2VJql > :global(.__wab_flex-container) > picture > img,
.freeBox___2VJql
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .freeBox___2VJql > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 1024px) {
  .freeBox___2VJql > :global(.__wab_flex-container) > *,
  .freeBox___2VJql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2VJql > :global(.__wab_flex-container) > picture > img,
  .freeBox___2VJql
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2VJql > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2VJql > :global(.__wab_flex-container) > *,
  .freeBox___2VJql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2VJql > :global(.__wab_flex-container) > picture > img,
  .freeBox___2VJql
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text__kIbud {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.freeBox__fKoIy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fKoIy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__fKoIy > :global(.__wab_flex-container) > *,
.freeBox__fKoIy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fKoIy > :global(.__wab_flex-container) > picture > img,
.freeBox__fKoIy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1024px) {
  .freeBox__fKoIy > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (max-width: 1024px) {
  .freeBox__fKoIy > :global(.__wab_flex-container) > *,
  .freeBox__fKoIy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fKoIy > :global(.__wab_flex-container) > picture > img,
  .freeBox__fKoIy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fKoIy > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fKoIy > :global(.__wab_flex-container) > *,
  .freeBox__fKoIy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fKoIy > :global(.__wab_flex-container) > picture > img,
  .freeBox__fKoIy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.linkJr2__rcpYf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pZkP7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__lzly {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__axU7P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fheAr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__flSNy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__r4H0I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2KCub {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg___677W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nKmLq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nKmLq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__nKmLq > :global(.__wab_flex-container) > *,
.freeBox__nKmLq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nKmLq > :global(.__wab_flex-container) > picture > img,
.freeBox__nKmLq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .freeBox__nKmLq > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 1024px) {
  .freeBox__nKmLq > :global(.__wab_flex-container) > *,
  .freeBox__nKmLq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nKmLq > :global(.__wab_flex-container) > picture > img,
  .freeBox__nKmLq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nKmLq > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nKmLq > :global(.__wab_flex-container) > *,
  .freeBox__nKmLq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nKmLq > :global(.__wab_flex-container) > picture > img,
  .freeBox__nKmLq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text__mnikf {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.freeBox__aBp8M {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aBp8M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__aBp8M > :global(.__wab_flex-container) > *,
.freeBox__aBp8M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aBp8M > :global(.__wab_flex-container) > picture > img,
.freeBox__aBp8M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1024px) {
  .freeBox__aBp8M > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (max-width: 1024px) {
  .freeBox__aBp8M > :global(.__wab_flex-container) > *,
  .freeBox__aBp8M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aBp8M > :global(.__wab_flex-container) > picture > img,
  .freeBox__aBp8M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aBp8M > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aBp8M > :global(.__wab_flex-container) > *,
  .freeBox__aBp8M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aBp8M > :global(.__wab_flex-container) > picture > img,
  .freeBox__aBp8M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.linkJr2___8BwG3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tKjTv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg___1Az6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__m4PB1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jVtGh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__yyfsa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nrwbE {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__nrwbE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__nrwbE > :global(.__wab_flex-container) > *,
.freeBox__nrwbE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nrwbE > :global(.__wab_flex-container) > picture > img,
.freeBox__nrwbE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .freeBox__nrwbE > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 1024px) {
  .freeBox__nrwbE > :global(.__wab_flex-container) > *,
  .freeBox__nrwbE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nrwbE > :global(.__wab_flex-container) > picture > img,
  .freeBox__nrwbE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nrwbE > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nrwbE > :global(.__wab_flex-container) > *,
  .freeBox__nrwbE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nrwbE > :global(.__wab_flex-container) > picture > img,
  .freeBox__nrwbE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text__gBAu {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.freeBox__c4WxQ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__c4WxQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__c4WxQ > :global(.__wab_flex-container) > *,
.freeBox__c4WxQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c4WxQ > :global(.__wab_flex-container) > picture > img,
.freeBox__c4WxQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1024px) {
  .freeBox__c4WxQ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (max-width: 1024px) {
  .freeBox__c4WxQ > :global(.__wab_flex-container) > *,
  .freeBox__c4WxQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__c4WxQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__c4WxQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c4WxQ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c4WxQ > :global(.__wab_flex-container) > *,
  .freeBox__c4WxQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__c4WxQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__c4WxQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.linkJr2___1ELop:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xt9Z7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__iucD0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__z1Yxk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nfzUj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__sjkMv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__uBgv1 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__uBgv1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__uBgv1 > :global(.__wab_flex-container) > *,
.freeBox__uBgv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uBgv1 > :global(.__wab_flex-container) > picture > img,
.freeBox__uBgv1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .freeBox__uBgv1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 1024px) {
  .freeBox__uBgv1 > :global(.__wab_flex-container) > *,
  .freeBox__uBgv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uBgv1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uBgv1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uBgv1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uBgv1 > :global(.__wab_flex-container) > *,
  .freeBox__uBgv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uBgv1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uBgv1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text__oizcI {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.freeBox__hd6J {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hd6J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__hd6J > :global(.__wab_flex-container) > *,
.freeBox__hd6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hd6J > :global(.__wab_flex-container) > picture > img,
.freeBox__hd6J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hd6J > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hd6J > :global(.__wab_flex-container) > *,
  .freeBox__hd6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hd6J > :global(.__wab_flex-container) > picture > img,
  .freeBox__hd6J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.linkJr2__qlLW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__h20KF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__nW36K {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__utIw9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__t1Cnh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #000000;
}
.svg__huIiJ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.copyright {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  min-width: 0;
}
@media (max-width: 1024px) {
  .copyright {
    text-align: left;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .copyright {
    text-align: left;
  }
}
