.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 112px;
  padding-right: 112px;
  background: #ffffff;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 97px);
  width: calc(100% + 97px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 97px;
}
@media (max-width: 1200px) {
  .root {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 1024px) {
  .root {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.freeBox__sNOfW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1216px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  padding: 104px 0px;
}
@media (max-width: 1200px) {
  .freeBox__sNOfW {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .freeBox__sNOfW {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sNOfW {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.freeBox___0Rsyi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeading {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeading > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.sectionHeading > :global(.__wab_flex-container) > *,
.sectionHeading > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading > :global(.__wab_flex-container) > picture > img,
.sectionHeading
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 124%;
  letter-spacing: -0.03em;
  min-width: 0;
}
.freeBox__rQbD {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rQbD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rQbD > :global(.__wab_flex-container) > *,
.freeBox__rQbD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rQbD > :global(.__wab_flex-container) > picture > img,
.freeBox__rQbD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.p__aJmCn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: uppercase;
  min-width: 0;
}
.p___2EpDf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__vhaxv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-transform: uppercase;
  min-width: 0;
}
.p__xbZpP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  min-width: 0;
}
.p__uSuLc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  min-width: 0;
}
.p__aT7Uy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  min-width: 0;
}
.p__m5Re {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__vcgze {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vcgze > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vcgze > :global(.__wab_flex-container) > *,
.freeBox__vcgze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vcgze > :global(.__wab_flex-container) > picture > img,
.freeBox__vcgze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__oh6Zt {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__bh7Jk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__nbDvS {
  display: flex;
  flex-direction: column;
}
.ul__ghxXm {
  display: flex;
  flex-direction: column;
}
.ul___5Aisc {
  display: flex;
  flex-direction: column;
}
.ul___9EdLb {
  display: flex;
  flex-direction: column;
}
.freeBox__jvXl9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jvXl9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jvXl9 > :global(.__wab_flex-container) > *,
.freeBox__jvXl9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jvXl9 > :global(.__wab_flex-container) > picture > img,
.freeBox__jvXl9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__vcGJp {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__g9AoU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__eOwl8 {
  display: flex;
  flex-direction: column;
}
.ul__sNeLo {
  display: flex;
  flex-direction: column;
}
.ul__tfKmc {
  display: flex;
  flex-direction: column;
}
.ul__ljXZo {
  display: flex;
  flex-direction: column;
}
.freeBox___4QcH3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4QcH3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4QcH3 > :global(.__wab_flex-container) > *,
.freeBox___4QcH3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4QcH3 > :global(.__wab_flex-container) > picture > img,
.freeBox___4QcH3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__iDq8Z {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__slov0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul___1LDm {
  display: flex;
  flex-direction: column;
}
.ul__e6WIi {
  display: flex;
  flex-direction: column;
}
.ul__jptn8 {
  display: flex;
  flex-direction: column;
}
.ul___9UyBm {
  display: flex;
  flex-direction: column;
}
.freeBox__i1YCi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__i1YCi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__i1YCi > :global(.__wab_flex-container) > *,
.freeBox__i1YCi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1YCi > :global(.__wab_flex-container) > picture > img,
.freeBox__i1YCi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__uOWc {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
}
.p__x7Od5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__ff8Ks {
  display: flex;
  flex-direction: column;
}
.ul__yRuFd {
  display: flex;
  flex-direction: column;
}
.ul__eJ02 {
  display: flex;
  flex-direction: column;
}
.ul__fE8Dm {
  display: flex;
  flex-direction: column;
}
.freeBox___96Ys {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___96Ys > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___96Ys > :global(.__wab_flex-container) > *,
.freeBox___96Ys > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___96Ys > :global(.__wab_flex-container) > picture > img,
.freeBox___96Ys
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__rxZjo {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
}
.p___52Yw8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__gPk5 {
  display: flex;
  flex-direction: column;
}
.ul__meAr {
  display: flex;
  flex-direction: column;
}
.li__nbm3Z {
  padding-bottom: 0px;
}
.ul___8RHi2 {
  display: flex;
  flex-direction: column;
}
.ul__uyivk {
  display: flex;
  flex-direction: column;
}
.freeBox___3WJPf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___3WJPf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3WJPf > :global(.__wab_flex-container) > *,
.freeBox___3WJPf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3WJPf > :global(.__wab_flex-container) > picture > img,
.freeBox___3WJPf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__qrrBi {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
}
.p__qeusf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__gs41A {
  display: flex;
  flex-direction: column;
}
.ul__kMKc {
  display: flex;
  flex-direction: column;
}
.ul___23R3D {
  display: flex;
  flex-direction: column;
}
.ul__dYqVu {
  display: flex;
  flex-direction: column;
}
.p__pJpLl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox___2OFdH {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2OFdH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___2OFdH > :global(.__wab_flex-container) > *,
.freeBox___2OFdH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2OFdH > :global(.__wab_flex-container) > picture > img,
.freeBox___2OFdH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__rNy6F {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__yyoIz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__wJ7As {
  display: flex;
  flex-direction: column;
}
.ul__zvPjb {
  display: flex;
  flex-direction: column;
}
.ul___1QWd {
  display: flex;
  flex-direction: column;
}
.ul__jBncu {
  display: flex;
  flex-direction: column;
}
.freeBox__p2Hgq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__p2Hgq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__p2Hgq > :global(.__wab_flex-container) > *,
.freeBox__p2Hgq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p2Hgq > :global(.__wab_flex-container) > picture > img,
.freeBox__p2Hgq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.p__g8PP {
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__b4ABz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__woiou {
  display: flex;
  flex-direction: column;
}
.ul__k8A77 {
  display: flex;
  flex-direction: column;
}
.ul__mH1M0 {
  display: flex;
  flex-direction: column;
}
.ul__oxBla {
  display: flex;
  flex-direction: column;
}
.p___4Cxm9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-transform: uppercase;
  min-width: 0;
}
.p__p2RGm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.p__z6Ww6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-transform: uppercase;
  min-width: 0;
}
.p__v1622 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  min-width: 0;
}
.ul__mIpUq {
  display: flex;
  flex-direction: column;
}
.p__v34Jq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.ul__xNoS6 {
  display: flex;
  flex-direction: column;
}
.li__duMGo {
  margin-top: 0px;
}
