.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: none;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  transform: none;
  min-width: 0;
}
.rootfixed {
  transform: none;
}
.freeBox__fsqDc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1760px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__fsqDc {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fsqDc {
    padding: 0px;
  }
}
.freeBoxfixed__fsqDczImfc {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  background: #000000;
  max-width: 100%;
  right: 0;
  transform: none;
  min-width: 0;
  padding: 0px;
}
.freeBox___8Xox2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 96px;
  justify-content: center;
  align-items: center;
  background: #000000;
  backdrop-filter: none;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: none;
  padding: 20px 60px;
}
@media (max-width: 1024px) {
  .freeBox___8Xox2 {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Xox2 {
    padding: 16px 25px;
  }
}
.freeBoxfixed___8Xox2ZImfc {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1760px;
  background: none;
  min-width: 0;
}
.freeBox___4Hcmj {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1760px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Hcmj {
    align-items: center;
    justify-content: center;
  }
}
.freeBox___4ZDaS {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox___4ZDaS > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___4ZDaS > :global(.__wab_flex-container) > *,
.freeBox___4ZDaS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4ZDaS > :global(.__wab_flex-container) > picture > img,
.freeBox___4ZDaS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 1440px) {
  .freeBox___4ZDaS {
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 1440px) {
  .freeBox___4ZDaS > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
@media (max-width: 1200px) {
  .freeBox___4ZDaS {
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 1200px) {
  .freeBox___4ZDaS > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .freeBox___4ZDaS {
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .freeBox___4ZDaS > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZDaS {
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZDaS > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    min-height: 0;
  }
}
.freeBoxfixed___4ZDaSzImfc {
  height: 100%;
  min-height: 0;
}
.freeBoxfixed___4ZDaSzImfc > :global(.__wab_flex-container) {
  min-height: 0;
}
.logo__mEbM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button___9X041:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__u5AWp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.rightNav {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  padding: 0px;
}
.rightNav > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.rightNav > :global(.__wab_flex-container) > *,
.rightNav > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rightNav > :global(.__wab_flex-container) > picture > img,
.rightNav
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.links {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.links > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.links > :global(.__wab_flex-container) > *,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.links > :global(.__wab_flex-container) > picture > img,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
@media (max-width: 1200px) {
  .links {
    display: none;
  }
}
.linkJr2__aUzFz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__jsWpv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4XfNj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__wh0YG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qf1Ya {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oIbWb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__s0UuF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__zzLBe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dpmK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linkJr2__wkoOf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5EiHo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qIhV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.navButtons {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  padding: 0px;
}
.navButtons > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.navButtons > :global(.__wab_flex-container) > *,
.navButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navButtons > :global(.__wab_flex-container) > picture > img,
.navButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 1024px) {
  .navButtons {
    display: none;
  }
}
.button__m97Vq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg___9CnZb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__tqdo9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bmyB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.button__d0RaO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6CbBn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: block;
}
.freeBox___4RBkz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 25px 60px 40px;
}
@media (max-width: 1024px) {
  .freeBox___4RBkz {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4RBkz {
    display: none;
    padding: 25px;
  }
}
.freeBoxfixed___4RBkzzImfc {
  opacity: 1;
  padding-left: 0px;
  padding-right: 0px;
  background: none;
  display: none;
}
.freeBox__ga8Oh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__ga8Oh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__ga8Oh > :global(.__wab_flex-container) > *,
.freeBox__ga8Oh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ga8Oh > :global(.__wab_flex-container) > picture > img,
.freeBox__ga8Oh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .freeBox__ga8Oh {
    display: flex;
  }
}
.freeBoxfixed__ga8OhzImfc {
  max-width: 1760px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}
.sectionHeading {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeadingfixed {
  display: flex;
}
.text {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__vlVux {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vlVux > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__vlVux > :global(.__wab_flex-container) > *,
.freeBox__vlVux > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vlVux > :global(.__wab_flex-container) > picture > img,
.freeBox__vlVux
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .freeBox__vlVux {
    display: flex;
  }
}
.filterItems__u49Sz:global(.__wab_instance) {
  max-width: 100%;
}
.filterItems___2OWw5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
