.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.freeBox__o71Qr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__o71Qr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 49px);
  width: calc(100% + 49px);
}
.freeBox__o71Qr > :global(.__wab_flex-container) > *,
.freeBox__o71Qr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o71Qr > :global(.__wab_flex-container) > picture > img,
.freeBox__o71Qr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 49px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o71Qr {
    height: auto;
    overflow: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o71Qr > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.tabBar__m3Akb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tabBarItem__aenOb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tabBarItem__ix2Ku:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tabBarItem__t82IB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tabBarItem___6Z2Ag:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zgQCf {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1440px) {
  .freeBox__zgQCf {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-width: 0;
  }
}
@media (max-width: 1200px) {
  .freeBox__zgQCf {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .freeBox__zgQCf {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zgQCf {
    width: 100%;
    min-width: 0;
  }
}
.offerCard__pe2K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__i7QqZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__nYd8X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__rcxmV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___6HEqs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__k7Jrc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___7TM3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__mhKFd {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
}
.img__mhKFd > picture > img {
  object-fit: cover;
}
.img__mhKFd > .__wab_img-spacer > img {
  object-fit: cover;
}
.offerCardDetailsItem__zu4Dl:global(.__wab_instance) {
  position: relative;
}
.svg__eXwj3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem___5TrY9:global(.__wab_instance) {
  position: relative;
}
.svg__osxFb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem___9Vdvb:global(.__wab_instance) {
  position: relative;
}
.svg__nbwGt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCard__ojxri:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__f0QqD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__fhABb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___5BmeM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__qqu9I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___78WM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__qJmo5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__q3BZu {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
}
.img__q3BZu > picture > img {
  object-fit: cover;
}
.img__q3BZu > .__wab_img-spacer > img {
  object-fit: cover;
}
.offerCardDetailsItem___0F6KB:global(.__wab_instance) {
  position: relative;
}
.svg__gFe3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem___9Ioa4:global(.__wab_instance) {
  position: relative;
}
.svg__wXkgc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem___2QLn:global(.__wab_instance) {
  position: relative;
}
.svg__iiBan {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCard__j8Isl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___6Ct80:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__qgeRk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__hoXbS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__pLCx8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__ldXmS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__iuW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__mjo9C {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
}
.img__mjo9C > picture > img {
  object-fit: cover;
}
.img__mjo9C > .__wab_img-spacer > img {
  object-fit: cover;
}
.offerCardDetailsItem__f8B:global(.__wab_instance) {
  position: relative;
}
.svg__itX6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem__naaus:global(.__wab_instance) {
  position: relative;
}
.svg__eUDvP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem__oGyl:global(.__wab_instance) {
  position: relative;
}
.svg__lKvvh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCard__zgwIz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__r7NPe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__fsQqT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___8URcC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___8Whtj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__d6Wgz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__wdLiz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___56Oo0 {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
}
.img___56Oo0 > picture > img {
  object-fit: cover;
}
.img___56Oo0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.offerCardDetailsItem___2EDd:global(.__wab_instance) {
  position: relative;
}
.svg__dgGF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem__llhW0:global(.__wab_instance) {
  position: relative;
}
.svg__eUhw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem__m9Ev:global(.__wab_instance) {
  position: relative;
}
.svg___0U8Rz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCard__rfA2N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__inv9H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__s5TH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__a2JQk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__qk8Nm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag___1IPdv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__lE0F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__nl8M7 {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
}
.img__nl8M7 > picture > img {
  object-fit: cover;
}
.img__nl8M7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.offerCardDetailsItem__e0Qju:global(.__wab_instance) {
  position: relative;
}
.svg__sbOr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem__vprWe:global(.__wab_instance) {
  position: relative;
}
.svg__zoJvc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem__cR3Ry:global(.__wab_instance) {
  position: relative;
}
.svg__rx9Dv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCard__c6EU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.tag__k08T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__gbrLn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__kguLz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__eBFfi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__d6Byq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tag__agj3Y:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__u59Nb {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
}
.img__u59Nb > picture > img {
  object-fit: cover;
}
.img__u59Nb > .__wab_img-spacer > img {
  object-fit: cover;
}
.offerCardDetailsItem___1UYbH:global(.__wab_instance) {
  position: relative;
}
.svg__amPdE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem___8YdSn:global(.__wab_instance) {
  position: relative;
}
.svg__ggnMv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
.offerCardDetailsItem__gfceW:global(.__wab_instance) {
  position: relative;
}
.svg__zeVvl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #242424;
  width: 14px;
  height: 14px;
  display: block;
}
