.selectSecondLevel {
  transition: border-radius 0.2s;
  width: 100%;
  min-width: 165px;
  height: 72px;
  border: none;
  padding: 20px;
  box-shadow: none;
  background-color: rgba(38, 38, 38, 1);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-weight: 500;
  row-gap: 2px;
}

.desplegableRegionCerrando {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  position: relative;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  animation-name: cerrarDesplegableRegion;
  animation-duration: 0.3s;
}

.desplegableRegionCerrado {
  display: none;
}

.desplegableRegionAbierto {
  height: 92px;
  display: flex;
  flex-direction: column;
  background-color: #363636;
  position: relative;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  animation-name: abrirDesplegableRegion;
  animation-duration: 0.3s;
}

.regionFilters {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.regionFilters:hover {
  background-color: #252525;
}

@keyframes abrirDesplegableRegion {
  from {
    height: 0px;
  }
  to {
    height: 92px;
  }
}

@keyframes cerrarDesplegableRegion {
  from {
    height: 92px;
  }
  to {
    height: 0px;
  }
}
