.root {
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 6px;
  padding: 16px 24px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootshowStartIcon {
  display: flex;
}
.rootcolor_roseLight {
  background: #fef2f7;
}
.rootcolor_rose {
  cursor: pointer;
  flex-direction: row;
  background: #fef2f7;
  border-radius: 6px;
  padding: 16px 24px;
  border: 1px solid transparent;
}
.rootcolor_rose > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_rose > :global(.__wab_flex-container) > *,
.rootcolor_rose > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_rose > :global(.__wab_flex-container) > picture > img,
.rootcolor_rose
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rooticonOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootoutline {
  border: 1px solid var(--token-eWdo8TDA1XpYVP);
}
.rootbgDifference {
  mix-blend-mode: difference;
}
.rootround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.rootflat {
  padding: 0px;
}
.rootextraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rootsize_small {
  padding: 9px 16px;
}
.rootdrawer_open {
  width: 24px;
  height: 24px;
  padding: 0px;
}
.rootdrawer_close {
  width: 42px;
  height: 42px;
  padding: 0px;
}
.rootpreviousNextPage_previousPage {
  padding: 0px;
}
.rootpreviousNextPage_nextPage {
  padding: 0px;
}
.rootpreviousNextPage_previousPageLastChild {
  padding: 0px;
}
.rootcolor_gradient {
  background: linear-gradient(105deg, #f44986 10%, rgba(31, 107, 221, 1) 125%)
    0% 0% / 100% 100% no-repeat;
  flex-direction: row;
  border-radius: 8px;
  border-width: 0px;
}
.rootcolor_gradient > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_gradient > :global(.__wab_flex-container) > *,
.rootcolor_gradient > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_gradient > :global(.__wab_flex-container) > picture > img,
.rootcolor_gradient
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootcolor_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 16px 24px;
  border: 1px solid transparent;
}
.rootcolor_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_indigo > :global(.__wab_flex-container) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolor_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor_blue {
  background: var(--token-2JpSDYnbk2Fpsz);
}
.rootcolor_red {
  background: var(--token-lqYCf1LMp4-aE1);
}
.rootcolor_white {
  background: var(--token-pxTFShNotzz96n);
}
.rootcolor_darkGray {
  background: var(--token-6BaiGNY5T6PvXg);
}
.root:hover {
  background: var(--token-a5AjBw2LyRsyBg);
}
.rootcolor_rose:hover {
  background: #cd4766;
}
.rootcolor_gradient:hover {
  background: linear-gradient(105deg, #f44986 116%, rgba(31, 107, 221, 1) 125%)
    0% 0% / 100% 100% no-repeat;
  cursor: pointer;
  flex-direction: row;
  border-radius: 8px;
  padding: 16px 24px;
  border: 0px solid transparent;
}
.rootcolor_gradient:hover > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_gradient:hover > :global(.__wab_flex-container) > *,
.rootcolor_gradient:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootcolor_gradient:hover > :global(.__wab_flex-container) > picture > img,
.rootcolor_gradient:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor_indigo:hover {
  background: #5e5ce6;
}
.rootcolor_blue:hover {
  background: #1a88ff;
}
.rootcolor_red:hover {
  background: #fd5046;
}
.rootcolor_darkGray:hover {
  background: var(--token-PIJr6qMCcwpTHf);
}
.rootcolor_gradient_size_small:hover {
  padding: 9px 16px;
}
.root:focus {
  box-shadow: 0px 0px 0px 4px #0095ff80;
  outline: none;
}
.slotTargetStartIcon {
  color: var(--token-6BaiGNY5T6PvXg);
}
.slotTargetStartIconcolor_rose {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetStartIconcolor_gradient {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetStartIconcolor_indigo {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetStartIconcolor_blue {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetStartIconcolor_red {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetStartIconcolor_white {
  color: var(--token-6BaiGNY5T6PvXg);
}
.slotTargetStartIconcolor_darkGray {
  color: var(--token-cdSpsnmis4XqvX);
}
.slotTargetStartIconcolor_link {
  color: var(--token-3cpUQ46gLfafgS);
}
.svg__ylycE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  white-space: pre;
  font-family: "Inter", sans-serif;
}
.slotTargetChildrencolor_navLink {
  font-weight: 400;
  color: var(--token-PIJr6qMCcwpTHf);
}
.slotTargetChildrencolor_roseLight {
  color: #cd4766;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.slotTargetChildrencolor_rose {
  color: #cd4766;
}
.slotTargetChildrenlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetChildrensize_large {
  font-size: 21px;
}
.slotTargetChildrencolor_gradient {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetChildrencolor_indigo {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetChildrencolor_blue {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetChildrencolor_red {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetChildrencolor_darkGray {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetChildrencolor_link {
  color: var(--token-2JpSDYnbk2Fpsz);
}
.rootcolor_navLink:hover .slotTargetChildrencolor_navLink {
  color: var(--token-6BaiGNY5T6PvXg);
}
.rootcolor_navLink:hover .slotTargetChildrencolor_navLink > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot-string-wrapper,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_text,
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: underline;
}
.rootcolor_rose:hover .slotTargetChildrencolor_rose {
  color: #ffffff;
}
.slotTargetEndIcon {
  color: var(--token-6BaiGNY5T6PvXg);
}
.slotTargetEndIconcolor_rose {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetEndIconcolor_gradient {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetEndIconcolor_indigo {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetEndIconcolor_blue {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetEndIconcolor_red {
  color: var(--token-pxTFShNotzz96n);
}
.slotTargetEndIconcolor_white {
  color: var(--token-6BaiGNY5T6PvXg);
}
.slotTargetEndIconcolor_darkGray {
  color: var(--token-cdSpsnmis4XqvX);
}
.slotTargetEndIconcolor_link {
  color: var(--token-3cpUQ46gLfafgS);
}
.svg__pDqt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.svg {
  position: relative;
  plasmic-display-none: true;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 42px;
  height: 42px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  flex-shrink: 0;
}
.svgdrawer_open {
  display: block;
}
.svgdrawer_close {
  display: block;
}
.svgpreviousNextPage_previousPage {
  width: 75px;
  height: 24px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  flex-shrink: 0;
  display: block;
}
.svgpreviousNextPage_nextPage {
  width: 75px;
  height: 24px;
  flex-shrink: 0;
  display: block;
}
.svgpreviousNextPage_previousPageLastChild {
  width: 75px;
  height: 24px;
  color: var(--token-eWdo8TDA1XpYVP);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  flex-shrink: 0;
  display: block;
}
.svgpreviousNextPage_nextPageLastChild {
  width: 75px;
  height: 24px;
  flex-shrink: 0;
  display: block;
}
