.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 1256px;
  height: auto;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 80px);
  height: calc(100% + 80px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 80px;
}
@media (max-width: 1440px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1440px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.sectionHeading {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sectionHeading > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.sectionHeading > :global(.__wab_flex-container) > *,
.sectionHeading > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionHeading > :global(.__wab_flex-container) > picture > img,
.sectionHeading
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.title {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.slotTargetTitle {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -4%;
  line-height: 1.19;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetTitle {
    text-align: center;
    font-size: 32px;
  }
}
.subtitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subtitle {
    justify-content: flex-start;
    align-items: center;
  }
}
.slotTargetSubtitle {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
