.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.group {
  width: 117px;
  height: 33px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 33px;
  height: 32.5px;
  display: block !important;
  top: 0px;
  left: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 74px;
  height: 26.2px;
  display: block;
  top: 4px;
  left: 43px;
}
